.alert.alert-top {
	--rz-alert-top-radius: 0px;
	--rz-alert-top-bg-color: #EB0000;
	--rz-alert-top-color: #fff;
	--rz-alert-top-icon-bg: #fff;
	--rz-alert-top-padding-x: 15px;
	--rz-alert-top-padding-y: 8px;
	--rz-alert-top-font-size: .9rem;
}

.alert.alert-top {
	border-radius: var(--rz-alert-top-radius);
	background-color: var(--rz-alert-top-bg-color);
	color: var(--rz-alert-top-color);
	padding: var(--rz-alert-top-padding-y) var(--rz-alert-top-padding-x);
	font-size: var(--rz-alert-top-font-size);
	line-height: 1.4;
	overflow: hidden;
	border:0
}

.alert-top a,
.alert-top .btn-close {
	color: var(--rz-alert-top-color)
}

.alert svg {
	flex-shrink: 0
}

.alert-top path {
	fill: var(--rz-alert-top-icon-bg);
}

.alert-top .btn-close {
	background: var(--rz-alert-top-icon-bg) var(--bs-btn-close-bg) center/12px auto no-repeat;
	padding: .5rem;
	border-radius: 100px;
	position: relative;
	margin-left: auto;
	opacity: 1;
	flex-shrink: 0;
	width: 12px;
	height: 12px;
}

/* -----------------------------------------

#rz alert

-----------------------------------------*/
.floating-alert {
	position: fixed;
	z-index: 100;
	bottom: 1rem;
	margin: 0;
	right: 1rem;
	background: #fff;
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.05);
	padding: 24px;
	width: 610px;
	border-radius: clamp(0px, var(--borderradius), 16px);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: 0
}

.floating-alert .h3 {
	margin: 0 0 0.625rem;
}

.floating-alert p {
	margin: 0
}

.alert-buttons {
	margin: 28px -28px -28px;
	border-top: 1px solid #eee;
	display: flex
}

.alert-button {
	border-right: 1px solid #eee;
	flex: 1 1 auto;
	text-align: center;
	padding: 14px 0;
	text-decoration: none;
	color: #000;
	font-weight: 700;
	line-height: 1.5
}

.alert-buttons .alert-button:last-of-type {
	border: 0
}

.alert-button:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer
}

.floating-alert.fade:not(.show) {
	display: none
}

@media only screen and (max-width:767px) {
	.floating-alert {
		width: auto;
		right: 1rem;
		left: 1rem;
	}

	.floating-alert {
		font-size: 12px
	}

	.floating-alert h4 {
		margin-bottom: 0.625rem;
		font-size: 14px
	}

	.floating-alert .btn {
		font-size: 0.625rem
	}
}

/* -----------------------------------------

#marquee

-----------------------------------------*/
.marquee-wrap-2 {
	background: #000;
	padding: 16px;
	transform: rotate(0);
	position: relative;
	z-index: 4;
}

.marquee-2 {
	color: #fff;
	line-height: 1.3;
	font-size: clamp(21px, 16vh, 100px)
}

.marquee-2 a {
	color: inherit
}

@keyframes marquee {
	0% {
		transform: translateX(100vw)
	}

	100% {
		transform: translateX(-100%)
	}
}

@keyframes marqueeltr {
	100% {
		transform: translateX(100vw)
	}

	0% {
		transform: translateX(-100%)
	}
}

@media (prefers-reduced-motion: no-preference) {

	.marquee,
	.marquee-2 {
		animation: marquee 30s linear infinite;
		white-space: nowrap
	}

	[data-scroll="false"] .marquee {
		animation: none;
		white-space: normal
	}

	.marquee-ltr {
		animation: marqueeltr 30s linear infinite;
		white-space: nowrap
	}

	.speed-slow {
		animation: marquee 60s linear infinite
	}

	.marquee-ltr.speed-slow {
		animation: marqueeltr 60s linear infinite;
	}
}

/* Makes the animation pause on hover or not */
.marquee-wrap:hover .marquee,
.marquee-wrap-2:hover .marquee-2 {
	animation-play-state: paused
}

[data-pause="false"] .marquee-wrap-2:hover .marquee-2 {
	animation-play-state: running
}