html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--bs-body-font-family);
	color: var(--bs-body-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	top: 0 !important;
	font-optical-sizing: auto;
}

h1,
.h1 {
	font-size: calc(1.375rem + 1.5vw);
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

@media (min-width: 1200px) {

	h1,
	.h1 {
		font-size: 2.5rem;
	}
}

h2,
.h2 {
	font-size: calc(1.325rem + 0.9vw);
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

@media (min-width: 1200px) {

	h2,
	.h2 {
		font-size: 2rem;
		font-family: var(--bs-headers-font-family);
		font-weight: var(--bs-headers-font-weight);
	}
}

h3,
.h3 {
	font-size: calc(1.3rem + 0.6vw);
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

@media (min-width: 1200px) {

	h3,
	.h3 {
		font-size: 1.75rem;
	}
}

h4,
.h4 {
	font-size: calc(1.275rem + 0.3vw);
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

@media (min-width: 1200px) {

	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

h5,
.h5 {
	font-size: 1.25rem;
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

h6,
.h6 {
	font-size: 1rem;
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.rz-site-wrap {
	position: relative;
	overflow-x: hidden
}

.rz-section-block {
	position: relative;
	z-index: clamp(6, 9, 99);
}

/* -----------------------------------------

weather

-----------------------------------------*/
@font-face {
	font-family: 'weather';
	src: url(../fonts/weather/artill_clean_icons-webfont.eot);
	src: url(../fonts/weather/artill_clean_icons-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/weather/artill_clean_icons-webfont.woff) format("woff"), url(../fonts/weather/artill_clean_icons-webfont.ttf) format("truetype"), url(../fonts/weather/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg) format("svg");
	font-weight: 400;
	font-style: normal
}

.weather i {
	font-family: 'weather'
}

.weather .icon-0:before {
	content: ":"
}

.weather .icon-1:before {
	content: "p"
}

.weather .icon-2:before {
	content: "S"
}

.weather .icon-3:before {
	content: "Q"
}

.weather .icon-4:before {
	content: "S"
}

.weather .icon-5:before {
	content: "W"
}

.weather .icon-6:before {
	content: "W"
}

.weather .icon-7:before {
	content: "W"
}

.weather .icon-8:before {
	content: "W"
}

.weather .icon-9:before {
	content: "I"
}

.weather .icon-10:before {
	content: "W"
}

.weather .icon-11:before {
	content: "I"
}

.weather .icon-12:before {
	content: "I"
}

.weather .icon-13:before {
	content: "I"
}

.weather .icon-14:before {
	content: "I"
}

.weather .icon-15:before {
	content: "W"
}

.weather .icon-16:before {
	content: "I"
}

.weather .icon-17:before {
	content: "W"
}

.weather .icon-18:before {
	content: "U"
}

.weather .icon-19:before {
	content: "Z"
}

.weather .icon-20:before {
	content: "Z"
}

.weather .icon-21:before {
	content: "Z"
}

.weather .icon-22:before {
	content: "Z"
}

.weather .icon-23:before {
	content: "Z"
}

.weather .icon-24:before {
	content: "E"
}

.weather .icon-25:before {
	content: "E"
}

.weather .icon-26:before {
	content: "3"
}

.weather .icon-27:before {
	content: "a"
}

.weather .icon-28:before {
	content: "A"
}

.weather .icon-29:before {
	content: "a"
}

.weather .icon-30:before {
	content: "A"
}

.weather .icon-31:before {
	content: "6"
}

.weather .icon-32:before {
	content: "1"
}

.weather .icon-33:before {
	content: "6"
}

.weather .icon-34:before {
	content: "1"
}

.weather .icon-35:before {
	content: "W"
}

.weather .icon-36:before {
	content: "1"
}

.weather .icon-37:before {
	content: "S"
}

.weather .icon-38:before {
	content: "S"
}

.weather .icon-39:before {
	content: "S"
}

.weather .icon-40:before {
	content: "M"
}

.weather .icon-41:before {
	content: "W"
}

.weather .icon-42:before {
	content: "I"
}

.weather .icon-43:before {
	content: "W"
}

.weather .icon-44:before {
	content: "a"
}

.weather .icon-45:before {
	content: "S"
}

.weather .icon-46:before {
	content: "U"
}

.weather .icon-47:before {
	content: "S"
}

/* -----------------------------------------

#links

-----------------------------------------*/
a {
	text-underline-offset: 4px
}

/* -----------------------------------------

#images

-----------------------------------------*/
img {
	max-width: 100%;
	height: auto;
}

a img {
	border: none
}

.alignleft {
	float: left;
	clear: left;
	margin: 0 1.25rem 1.25rem
}

.alignright {
	float: right;
	margin: 0 0 1.25rem 1.25rem
}

.alignnone {
	margin: 0 auto 1.25rem;
	display: block
}

img[align="right"],
img[style*="float: right"],
img[style*="float:right"] {
	margin: 0 0 1.25rem 1.25rem
}

img[align="left"],
img[style*="float: left"],
img[style*="float:left"] {
	margin: 0 1.25rem 1.25rem 0
}

.tooltip {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
	font-style: normal !important;
	font-weight: 400 !important;
	line-height: 1.5 !important;
	text-align: left !important;
	text-align: start !important;
	text-decoration: none !important;
	text-shadow: none !important;
	text-transform: none !important;
	letter-spacing: normal !important;
	word-break: normal !important;
	word-spacing: normal !important;
	white-space: normal !important;
	line-break: auto !important;
	font-size: 1rem !important;
	opacity: 0;
	z-index: 999999999999
}

.tooltip-inner {
	max-width: 280px !important;
	padding: .5rem 1rem !important;
	color: #fff !important;
	text-align: center !important;
	background-color: #000 !important;
	font-size: 16px !important;
	border-radius: 2px !important
}