.rz-card {
	--rz-card-padding-y: 0;
	--rz-card-padding-x: 0;
	--rz-card-body-padding-y: 6%;
	--rz-card-body-padding-x: 6%;
	--rz-card-header-padding-y: 3%;
	--rz-card-header-padding-x: var(--rz-card-body-padding-x);
	--rz-card-title-margin-y: 0.5rem;
	--rz-card-title-color: #000;
	--rz-card-title-margin: ;
	--rz-card-title-font-size: 1.2rem;
	--rz-card-title-font-weight: bold;
	--rz-card-subtitle-color: ;
	--rz-card-border: 1px solid #e3e3e3;
	--rz-card-border-radius: var(--bs-border-radius);
	--rz-card-box-shadow: var(--bs-box-shadow);
	--rz-card-inner-border-radius: calc(var(--rz-card-border-radius) - (var(--bs-border-width)));
	--rz-card-btn-margin: 0;
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: #fff;
	--rz-card-img-overlay-color: linear-gradient(180deg, rgba(102, 17, 255, 0.5494398442970938) 0%, rgba(102, 17, 255, 1) 100%);
	--rz-card-img-height: 320px;
	--rz-card-date-color: #111;
	--rz-card-date-font-size: .85rem;
	--rz-card-date-bg: #f1f1f1;
	--rz-card-date-padding-y: 6px;
	--rz-card-date-padding-x: 10px;
	--rz-card-date-margin: 0 0 10px 0;
	--rz-card-date-border-radius: var(--bs-border-radius-sm);
	--rz-card-label-color: #111;
	--rz-card-label-font-size: .85rem;
	--rz-card-label-bg: #f1f1f1;
	--rz-card-label-padding-y: 6px;
	--rz-card-label-padding-x: 10px;
	--rz-card-label-margin: 0 0 10px 0;
	--rz-card-label-border-radius: var(--bs-border-radius-sm);
	padding: var(--rz-card-padding-y) var(--rz-card-padding-x);
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	color: var(--bs-body-color);
	word-wrap: break-word;
	background-color: var(--rz-card-bg);
	background-clip: border-box;
	border: var(--rz-card-border);
	border-radius: var(--rz-card-border-radius);
	box-shadow: var(--rz-card-box-shadow);
	transition: var(--rz-transitions);
	top: 0;
	height: 100%
}

.rz-card-img-wrap {
	height: var(--rz-card-img-height);
	flex: 0 0 auto;
	position: relative;
	overflow: hidden;
	transition: var(--rz-transitions);
}

.featured-image-wrap {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

.rz-card-img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: all 1s ease-in-out;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

.rz-card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--rz-card-img-overlay-color);
}

.rz-card-body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: var(--rz-card-body-padding-y) var(--rz-card-body-padding-x);
	color: var(--rz-card-color);
	z-index: 1;
}

.rz-card-header {
	padding: var(--rz-card-header-padding-y) var(--rz-card-header-padding-x);
}

.rz-card-label {
	padding: var(--rz-card-label-padding-y) var(--rz-card-label-padding-x);
	margin: var(--rz-card-label-margin);
	color: var(--rz-card-label-color);
	font-size: var(--rz-card-label-font-size);
	background: var(--rz-card-label-bg);
	border-radius: var(--rz-card-label-border-radius);
	max-width: max-content;
}

.rz-card-date {
	padding: var(--rz-card-date-padding-y) var(--rz-card-date-padding-x);
	margin: var(--rz-card-date-margin);
	color: var(--rz-card-date-color);
	font-size: var(--rz-card-date-font-size);
	background: var(--rz-card-date-bg);
	border-radius: var(--rz-card-date-border-radius);
	max-width: max-content;
}

.rz-card-title {
	margin-bottom: var(--rz-card-title-margin-y);
	color: var(--rz-card-title-color);
	font-size: var(--rz-card-title-font-size);
	font-weight: var(--rz-card-title-font-weight);
}

.rz-card-actions {
	margin-top: auto;
}

.rz-card-btn {
	margin: var(--rz-card-btn-margin);
}

.rz-card-body:last-child {
	margin-bottom: 0;
}

.rz-card-text:last-child {
	margin-bottom: 0;
}

.rz-card-img-wrap {
	border-top-left-radius: var(--rz-card-inner-border-radius);
	border-top-right-radius: var(--rz-card-inner-border-radius);
}

.rz-news-card[data-card-layout="stacked"],
.rz-news-card[data-card-layout="horizontal"],
.rz-blog-card[data-card-layout="stacked"],
.rz-blog-card[data-card-layout="horizontal"],
[data-card-layout="horizontal-hero"] {
	--rz-card-img-overlay-color: ;
}

[data-card-layout="horizontal"],
[data-card-layout="horizontal-hero"] {
	flex-direction: row;
}

[data-card-layout="horizontal"] .rz-card-img-wrap {
	border-radius: 0;
	border-top-left-radius: var(--rz-card-inner-border-radius);
	border-bottom-left-radius: var(--rz-card-inner-border-radius);
	width: 33%;
	height: auto;
}

[data-card-image="false"] .rz-card-img-wrap {
	display: none;
}

[data-btn="false"]:not([data-card-footer="true"]) .rz-card-actions .btn {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	color: transparent;
	font-size: 0;
	background: none !important;
	border: none !important;
	border-radius: var(--rz-card-border-radius);
	z-index: 1;
}

[data-btn="false"] .rz-card-body {
	position: static
}

[data-btn="false"] .rz-card-text {
	margin-bottom: 0
}

/* quick links */
.rz-qlink {
	--rz-qlink-padding-y: 0;
	--rz-qlink-padding-x: 0;
	--rz-qlink-body-wrap-padding-y: 2rem;
	--rz-qlink-body-wrap-padding-x: 2rem;
	--rz-qlink-body-padding-y: 0;
	--rz-qlink-body-padding-x: 0;
	--rz-qlink-title-color: #fff;
	--rz-qlink-title-margin: 0 0 1rem;
	--rz-qlink-title-font-size: 1.2rem;
	--rz-qlink-title-font-weight: bold;
	--rz-qlink-text-color: #fff;
	--rz-qlink-text-margin: 0 0 1rem;
	--rz-qlink-text-font-size: 1rem;
	--rz-qlink-text-font-weight: normal;
	--rz-qlink-color: #fff;
	--rz-qlink-bg: #fff;
	--rz-qlink-border: 1px solid #ccc;
	--rz-qlink-border-radius: var(--bs-border-radius);
	--rz-qlink-box-shadow: ;
	--rz-qlink-inner-border-radius: calc(var(--rz-qlink-border-radius) - (var(--bs-border-width)));
	--rz-qlink-btn-margin: auto 0 0 0;
	--rz-qlink-btn-height: 4rem;
	--rz-qlink-btn-padding: 0 1rem;
	--rz-qlink-img-height: 300px;
	--rz-qlink-img-overlay-color: linear-gradient(180deg, rgba(102, 17, 255, 0.5494398442970938) 0%, rgba(102, 17, 255, 1) 100%);
	--rz-qlink-text-align: center;
	--rz-qlink-icon-margin: 0 auto 1rem;
	--rz-qlink-icon-width: 80px;
	--rz-qlink-icon-height: 80px;
	--rz-qlink-icon-bg-color: #f5f5f5;
	--rz-qlink-icon-color: #000;
	--rz-qlink-icon-border: 1px solid #ccc;
	--rz-qlink-icon-border-radius: 100px;
	--rz-qlink-icon-font-size: 2rem;
	--rz-qlink-footer-border: 1px solid #ccc;
	--rz-qlink-footer-padding: .8rem;
	--rz-qlink-footer-bg: #fff;
	--rz-qlink-footer-btn-color: #000;
	padding: var(--rz-qlink-padding-y) var(--rz-qlink-padding-x);
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	color: var(--bs-body-color);
	word-wrap: break-word;
	background-color: var(--rz-qlink-bg);
	background-clip: border-box;
	border: var(--rz-qlink-border);
	border-radius: var(--rz-qlink-border-radius);
	box-shadow: var(--rz-qlink-box-shadow);
	transition: var(--rz-transitions);
	top: 0;
	height: 100%
}

.rz-qlink-wrap {}

.rz-qlink-img-wrap {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	transition: var(--rz-transitions);
	z-index: 0;
	border-radius: var(--rz-qlink-inner-border-radius);
}

.rz-qlink-img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: all 1s ease-in-out;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

.rz-qlink-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--rz-qlink-img-overlay-color);
}

.rz-qlink-body-wrap {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: var(--rz-qlink-body-wrap-padding-y) var(--rz-qlink-body-wrap-padding-x);
	color: var(--rz-qlink-color);
	z-index: 1;
}

.rz-qlink-icon {
	margin: var(--rz-qlink-icon-margin);
	width: var(--rz-qlink-icon-width);
	height: var(--rz-qlink-icon-height);
	background: var(--rz-qlink-icon-bg-color);
	color: var(--rz-qlink-icon-color);
	border-radius: var(--rz-qlink-icon-border-radius);
	font-size: var(--rz-qlink-icon-font-size);
	border: var(--rz-qlink-icon-border);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	flex: 0 0 auto;
}

.rz-qlink-body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: var(--rz-qlink-body-padding-y) var(--rz-qlink-body-padding-x);
	color: var(--rz-qlink-color);
	z-index: 1;
}

.rz-qlink-title {
	margin: var(--rz-qlink-title-margin);
	color: var(--rz-qlink-title-color);
	font-size: var(--rz-qlink-title-font-size);
	font-weight: var(--rz-qlink-title-font-weight);
}

.rz-qlink-text {
	margin: var(--rz-qlink-text-margin);
	color: var(--rz-qlink-text-color);
	font-size: var(--rz-qlink-text-font-size);
	font-weight: var(--rz-qlink-text-font-weight);
}

.rz-qlink-actions {
	margin-top: auto
}

.rz-qlink-footer {
	z-index: 1;
	background: var(--rz-qlink-footer-bg);
	border-radius: 0 0 var(--rz-qlink-inner-border-radius) var(--rz-qlink-inner-border-radius);
	display: none
}

.rz-qlink-footer .btn.btn-link {
	color: var(--rz-qlink-footer-btn-color);
	border: 0;
	border-top: var(--rz-qlink-footer-border);
	padding: var(--rz-qlink-footer-padding);
	border-radius: 0 0 var(--rz-qlink-inner-border-radius) var(--rz-qlink-inner-border-radius);
	text-decoration: none;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0;
	transition: all .3s
}

[data-qlink-layout="horizontal"] {
	--rz-qlink-padding-y: 0;
	--rz-qlink-padding-x: 0;
	--rz-qlink-body-wrap-padding-y: 1.5rem;
	--rz-qlink-body-wrap-padding-x: 1.5rem;
	--rz-qlink-body-padding-y: 0;
	--rz-qlink-body-padding-x: 0;
	--rz-qlink-text-align: ;
	--rz-qlink-icon-margin: 0;
	--rz-qlink-icon-width: 64px;
	--rz-qlink-icon-height: 64px;
	--rz-qlink-icon-font-size: 1.8rem;
}

[data-qlink-layout="horizontal"] .rz-qlink-body-wrap {
	flex-direction: row;
	gap: 1rem
}

[data-qlink-layout="stacked-left"],
[data-qlink-layout="overflow-left"] {
	--rz-qlink-text-align: ;
	--rz-qlink-icon-margin: 0 0 1rem;
}

[data-qlink-layout="overflow"] .rz-qlink-icon,
[data-qlink-layout="overflow-left"] .rz-qlink-icon {
	margin-top: calc(var(--rz-qlink-icon-height)*-.5 - var(--rz-qlink-body-wrap-padding-x));
}

[data-qlink-image="false"] {
	--rz-qlink-title-color: #000;
	--rz-qlink-text-color: #000;
}

[data-qlink-image="false"] .rz-qlink-img-wrap {
	display: none
}

[data-qlink-image="inline"] {
	--rz-qlink-title-color: #000;
	--rz-qlink-text-color: #000;
}

[data-qlink-image="inline"] .rz-qlink-img-wrap {
	height: var(--rz-qlink-img-height);
	border-radius: var(--rz-qlink-inner-border-radius) var(--rz-qlink-inner-border-radius) 0 0;
	display: block;
	position: relative
}

[data-qlink-link-type="button"] .rz-qlink-footer {
	display: none
}

[data-qlink-link-type="footer"] .rz-qlink-actions {
	display: none
}

[data-qlink-link-type="footer"] .rz-qlink-footer {
	display: block
}

[data-qlink-link-type="overlay"] .rz-qlink-actions .btn {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	border: 0 !important;
	background: none !important;
	font-size: 0 !important;
	color: transparent !important;
}

[data-qlink-link-type="overlay"] .rz-qlink-footer {
	display: none
}

[data-qlink-icon="false"] .rz-qlink-icon {
	display: none
}

@media (min-width: 992px) {

	.rz-card:hover .rz-card-img,
	.rz-qlink:hover .rz-qlink-img {
		transform: scale(1.1);
	}

	.rz-qlink:hover .rz-qlink-footer .btn.btn-link {
		gap: 4px
	}

	.rz-card:hover:not([data-card-layout="horizontal-hero"]),
	.rz-qlink:hover {
		top: -4px;
		box-shadow: var(--bs-box-shadow)
	}
}

.rz-job-post-card {
	--rz-card-padding-y: 0;
	--rz-card-padding-x: 0;
	--rz-card-body-padding-y: 6%;
	--rz-card-body-padding-x: 6%;
	--rz-card-header-padding-y: 3%;
	--rz-card-header-padding-x: var(--rz-card-body-padding-x);
	--rz-card-title-margin-y: 0.5rem;
	--rz-card-title-color: var(--bs-body-color);
	--rz-card-title-margin: 0;
	--rz-card-title-font-weight: bold;
	--rz-card-border: 1px solid #e3e3e3;
	--rz-card-border-radius: var(--bs-border-radius);
	--rz-card-box-shadow: var(--bs-box-shadow);
	--rz-card-inner-border-radius: calc(var(--rz-card-border-radius) - (var(--bs-border-width)));
	--rz-card-btn-margin: 0;
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: #fff;
}

.rz-job-post-card[data-job-post-highlighted="true"] {
	border-width: 3px;
	border-color: var(--bs-success)
}

.col-5 .rz-card-wrap,
.col-4 .rz-card-wrap,
.col-3 .rz-card-wrap,
.col-2 .rz-card-wrap,
.col-1 .rz-card-wrap {
	width: 100%
}

.col-lg-5 .rz-card-wrap,
.col-lg-4 .rz-card-wrap,
.col-lg-3 .rz-card-wrap,
.col-lg-2 .rz-card-wrap,
.col-lg-1 .rz-card-wrap {
	width: 100%
}

.rz-agendalist-card {
	--rz-card-padding-y: 2rem;
	--rz-card-padding-x: 2rem;
	--rz-card-border: 1px solid #e3e3e3;
	--rz-card-border-radius: var(--bs-border-radius);
	--rz-card-box-shadow: var(--bs-box-shadow);
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: #fff;
}

.rz-blog-card {
	--rz-card-padding-y: 0;
	--rz-card-padding-x: 0;
	--rz-card-body-padding-y: 6%;
	--rz-card-body-padding-x: 6%;
	--rz-card-header-padding-y: 3%;
	--rz-card-header-padding-x: var(--rz-card-body-padding-x);
	--rz-card-title-margin-y: 0.5rem;
	--rz-card-title-color: #000;
	--rz-card-title-margin: ;
	--rz-card-title-font-size: 1.2rem;
	--rz-card-title-font-weight: bold;
	--rz-card-subtitle-color: ;
	--rz-card-border: 1px solid #e3e3e3;
	--rz-card-border-radius: var(--bs-border-radius);
	--rz-card-box-shadow: var(--bs-box-shadow);
	--rz-card-inner-border-radius: calc(var(--rz-card-border-radius) - (var(--bs-border-width)));
	--rz-card-btn-margin: 0;
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: #fff;
	--rz-card-img-overlay-color: linear-gradient(180deg, rgba(102, 17, 255, 0.5494398442970938) 0%, rgba(102, 17, 255, 1) 100%);
	--rz-card-img-height: 320px;
	--rz-card-date-color: #111;
	--rz-card-date-font-size: .85rem;
	--rz-card-date-bg: #f1f1f1;
	--rz-card-date-padding-y: 6px;
	--rz-card-date-padding-x: 10px;
	--rz-card-date-margin: 0 0 10px 0;
	--rz-card-date-border-radius: var(--bs-border-radius-sm);
	--rz-card-label-color: #111;
	--rz-card-label-font-size: .85rem;
	--rz-card-label-bg: #f1f1f1;
	--rz-card-label-padding-y: 6px;
	--rz-card-label-padding-x: 10px;
	--rz-card-label-margin: 0 0 10px 0;
	--rz-card-label-border-radius: var(--bs-border-radius-sm);
}

[data-card-layout="horizontal-hero"] {
	--rz-card-padding-y: ;
	--rz-card-padding-x: ;
	--rz-card-body-padding-y: ;
	--rz-card-body-padding-x: ;
	--rz-card-header-padding-y: 3%;
	--rz-card-header-padding-x: 6%;
	--rz-card-title-margin-y: 1.5rem;
	--rz-card-title-margin: ;
	--rz-card-title-font-size: clamp(2rem, 3vw, 4rem);
	--rz-card-border: ;
	--rz-card-box-shadow: ;
	--rz-card-btn-margin: 0;
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: ;
	--rz-card-img-overlay-color: ;
	--rz-card-img-height: ;
	gap: 2rem
}

[data-card-layout="horizontal-hero"] .rz-card-img-wrap {
	height: 600px;
	width: 50%;
	order: 1;
	border-radius: var(--rz-card-inner-border-radius)
}

[data-card-layout="horizontal-hero"] .rz-card-actions {
	margin-top: 1rem
}

[data-card-layout="horizontal-hero"] .rz-card-body {
	justify-content: center;
	order: 0
}

@media (max-width: 991.98px) {
	.rz-card[data-card-layout="horizontal-hero"] {
		flex-direction: column;
	}

	[data-card-layout="horizontal-hero"] .rz-card-img-wrap {
		width: 100%;
		height: 400px
	}
}

[data-card-layout="overlay"] {
	--rz-card-padding-y: 0;
	--rz-card-padding-x: 0;
	--rz-card-body-padding-y: 10%;
	--rz-card-body-padding-x: 10%;
	--rz-card-title-color: #fff;
	--rz-card-subtitle-color: #fff;
	--rz-card-border: none;
	--rz-card-btn-margin: 0;
	--rz-card-color: #fff;
	--rz-card-bg: #fff;
	--rz-card-img-overlay-color: rgba(102, 16, 242, 0.9);
	flex-direction: column;
	text-align: left;
}

[data-card-layout="overlay"] .rz-card-img-wrap {
	border-radius: var(--rz-card-inner-border-radius);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

/* -----------------------------------------
	
	#staff member
	
	-----------------------------------------*/
.rz-staff-member-card {
	--rz-staff-member-card-padding: ;
	--rz-staff-member-card-inner-padding-y: ;
	--rz-staff-member-card-inner-padding-x: 0;
	--rz-staff-member-card-content-padding-x: 1rem;
	--rz-staff-member-card-margin: 0 0 0 0;
	--rz-staff-member-card-bg-color: #fff;
	--rz-staff-member-card-border: ;
	--rz-staff-member-avatar-width: 100%;
	--rz-staff-member-avatar-border-radius: 0;
	--rz-staff-member-avatar-bg: #eee;
	--rz-staff-member-border-radius: ;
	--rz-staff-member-box-shadow: ;
	--rz-staff-member-header-font-size: 1.25rem;
	--rz-staff-member-header-padding: 1rem var(--rz-staff-member-card-inner-padding-x);
	--rz-staff-member-header-bg: #fff;
	--rz-staff-member-header-color: #000;
	--rz-staff-member-header-font-weight: bold;
	padding: var(--rz-staff-member-card-padding);
	margin: var(--rz-staff-member-card-margin);
	background: var(--rz-staff-member-card-bg-color);
	border: var(--rz-staff-member-card-border);
	border-radius: var(--rz-staff-member-border-radius);
	box-shadow: var(--rz-staff-member-box-shadow);
	height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	transition: var(--rz-transitions);
	top: 0;
	word-wrap: break-word;
}

.rz-staff-member-card-inner {
	padding: var(--rz-staff-member-card-inner-padding-y) var(--rz-staff-member-card-inner-padding-x);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1;
	min-width: 0;
}

.rz-staff-member-header {
	font-size: var(--rz-staff-member-header-font-size);
	padding: var(--rz-staff-member-header-padding);
	background: var(--rz-staff-member-header-bg);
	color: var(--rz-staff-member-header-color);
	font-weight: var(--rz-staff-member-header-font-weight);
	margin: 0;
}

.staff-member-avatar {
	line-height: 1.4;
}

.staff-member-avatar p {
	padding: 0 var(--rz-staff-member-card-content-padding-x)
}

.member-avatar-img {
	width: var(--rz-staff-member-avatar-width);
	border: var(--rz-staff-member-card-border);
	border-radius: var(--rz-staff-member-avatar-border-radius);
	background-color: var(--rz-staff-member-avatar-bg);
	max-width: 100%;
	height: auto;
}

.staff-member-bio,
.staff-member-location,
.staff-member-email,
.staff-member-fax,
.staff-member-phone,
.staff-member-social {
	display: flex;
	gap: .5rem;
	align-items: center;
	line-height: 1.5;
	padding: 0 var(--rz-staff-member-card-content-padding-x)
}

.staff-member-fax {
	margin-bottom: .5rem
}

.staff-member-social {
	margin-top: auto;
	gap: .5rem
}

.staff-member-social .btn {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	padding: 0
}

.btn.staff-member-fb {
	--bs-btn-color: #1877F2;
	--bs-btn-border-color: #1877F2;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #1877F2;
	--bs-btn-hover-border-color: #1877F2;
	--bs-btn-focus-shadow-rgb: 24, 119, 242;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #1877F2;
	--bs-btn-active-border-color: #1877F2;
	--bs-btn-active-shadow: ;
}

.btn.staff-member-linkedin {
	--bs-btn-color: #0072b1;
	--bs-btn-border-color: #0072b1;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #0072b1;
	--bs-btn-hover-border-color: #0072b1;
	--bs-btn-focus-shadow-rgb: 0, 114, 177;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #0072b1;
	--bs-btn-active-border-color: #0072b1;
	--bs-btn-active-shadow: ;
}

.btn.staff-member-x {
	--bs-btn-color: #000000;
	--bs-btn-border-color: #000000;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #000000;
	--bs-btn-hover-border-color: #000000;
	--bs-btn-focus-shadow-rgb: 0, 0, 0;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #000000;
	--bs-btn-active-border-color: #000000;
	--bs-btn-active-shadow: ;
}

/* -----------------------------------------
	
	#staff directory
	
	-----------------------------------------*/
.rz-staff-card {
	--rz-staff-card-padding: 1rem 1.5rem;
	--rz-staff-card-margin: 0 0 0 0;
	--rz-staff-card-bg-color: #fff;
	--rz-staff-card-border: 1px solid #e3e3e3;
	--rz-staff-avatar-width: 64px;
	--rz-staff-avatar-height: 64px;
	--rz-staff-avatar-border-radius: 100px;
	--rz-staff-border-radius: var(--bs-border-radius);
	--rz-staff-box-shadow: var(--bs-box-shadow);
	padding: var(--rz-staff-card-padding);
	margin: var(--rz-staff-card-margin);
	background: var(--rz-staff-card-bg-color);
	border: var(--rz-staff-card-border);
	border-radius: var(--rz-staff-border-radius);
	box-shadow: var(--rz-staff-box-shadow);
	height: 100%
}

.avatar-img {
	width: var(--rz-staff-avatar-width);
	height: var(--rz-staff-avatar-height);
	border: var(--rz-staff-card-border);
	border-radius: var(--rz-staff-avatar-border-radius);
	flex: 0 0 auto;
	margin-right: 1rem;
}

.staff-dept,
.staff-avatar,
.staff-position,
.staff-contact,
.staff-social {
	line-height: 1.4;
	flex: 1 0 0%;
	width: max-content;
	white-space: nowrap
}

.staff-social .btn {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn.staff-fb {
	--bs-btn-color: #1877F2;
	--bs-btn-border-color: #1877F2;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #1877F2;
	--bs-btn-hover-border-color: #1877F2;
	--bs-btn-focus-shadow-rgb: 24, 119, 242;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #1877F2;
	--bs-btn-active-border-color: #1877F2;
	--bs-btn-active-shadow: ;
}

.btn.staff-linkedin {
	--bs-btn-color: #0072b1;
	--bs-btn-border-color: #0072b1;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #0072b1;
	--bs-btn-hover-border-color: #0072b1;
	--bs-btn-focus-shadow-rgb: 0, 114, 177;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #0072b1;
	--bs-btn-active-border-color: #0072b1;
	--bs-btn-active-shadow: ;
}

.btn.staff-x {
	--bs-btn-color: #000000;
	--bs-btn-border-color: #000000;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #000000;
	--bs-btn-hover-border-color: #000000;
	--bs-btn-focus-shadow-rgb: 0, 0, 0;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #000000;
	--bs-btn-active-border-color: #000000;
	--bs-btn-active-shadow: ;
}

[data-staff-layout="stacked"] .staff-dept,
[data-staff-layout="stacked"] .staff-position,
[data-staff-layout="stacked"] .staff-contact,
[data-staff-layout="stacked"] .staff-social {
	--bs-gutter-y: 1rem;
}

[data-staff-layout="stacked"] .row {
	flex-direction: column;
	align-items: start !important;
	gap: 0 !important;
}

/* -----------------------------------------
	
	#quick links
	
	-----------------------------------------*/
.quick-link {
	--rz-ql-title-color: #000;
	--rz-ql-subtitle-color: #000;
	--rz-ql-title-font-size: 18px;
	--rz-ql-subtitle-font-size: 14px;
	--rz-ql-gap: 2rem;
	--rz-ql-align-items: center;
	--rz-ql-justify-content: center;
	--rz-ql-border: 1px solid #ddd;
	--rz-ql-title-line-height: 1.3;
	--rz-ql-subtitle-line-height: ;
	--rz-ql-title-margin: 0 0 10px;
	--rz-ql-subtitle-margin: 0 0 20px;
	--rz-ql-padding: 10%;
	--rz-ql-border-radius: ;
	--rz-ql-bg: #fff;
	--rz-ql-text-align: center;
	--rz-ql-flex-direction: column
}

.quick-link a {
	gap: var(--rz-ql-gap);
	align-items: var(--rz-ql-align-items);
	justify-content: var(--rz-ql-justify-content);
	border: var(--rz-ql-border);
	padding: var(--rz-ql-padding);
	border-radius: var(--rz-ql-border-radius);
	background: var(--rz-ql-bg);
	text-align: var(--rz-ql-text-align);
	flex-direction: var(--rz-ql-flex-direction);
	text-decoration: none;
	display: flex;
	height: 100%;
	position: relative;
	overflow: visible
}

.quick-link .ql-title {
	color: var(--rz-ql-title-color);
	font-size: var(--rz-ql-title-font-size);
	line-height: var(--rz-ql-title-line-height);
	margin: var(--rz-ql-title-margin);
	display: block;
	line-height:
}

.quick-link .ql-subtitle {
	color: var(--rz-ql-title-color);
	font-size: var(--rz-ql-subtitle-font-size);
	line-height: var(--rz-ql-subtitle-line-height);
	margin: var(--rz-ql-subtitle-margin);
	display: block
}

.quick-link-icon {
	--rz-ql-icon-margin: 0 auto;
	--rz-ql-icon-border: 0px solid #999;
	--rz-ql-icon-border-radius: 100px;
	--rz-ql-icon-width: 80px;
	--rz-ql-icon-height: 80px;
	--rz-ql-icon-font-size: 32px;
	--rz-ql-icon-color: #000;
	--rz-ql-icon-bg-color: #eee;
	margin: var(--rz-ql-icon-margin);
	border: var(--rz-ql-icon-border);
	border-radius: var(--rz-ql-icon-border-radius);
	width: var(--rz-ql-icon-width);
	max-width: var(--rz-ql-icon-width);
	height: var(--rz-ql-icon-height);
	max-height: var(--rz-ql-icon-height);
	font-size: var(--rz-ql-icon-font-size);
	background: var(--rz-ql-icon-bg-color);
	color: var(--rz-ql-icon-color);
	flex: 1 0 var(--rz-ql-icon-width);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1
}

.quick-link span {
	position: relative;
	z-index: 1
}