.site-footer-wrap {
	/* footer options  */
	--rz-footer-bg-color: #fff;
	--rz-footer-container-width: 100%;
	--rz-footer-padding-y: 0;
	--rz-footer-padding-x: 0;
	--rz-footer-top-bg: rgba(255, 255, 255, 1);
	--rz-footer-top-color: #000;
	--rz-footer-top-link-color: rgba(0, 0, 0, 1);
	--rz-footer-top-padding-y: 1rem;
	--rz-footer-top-padding-x: 0rem;
	--rz-footer-middle-bg: rgba(255, 255, 255, 1);
	--rz-footer-middle-color: ;
	--rz-footer-middle-link-color: var(--bs-primary);
	--rz-footer-middle-padding-y: 1rem;
	--rz-footer-middle-padding-x: 0rem;
	--rz-footer-bottom-bg: rgba(255, 255, 255, 0);
	--rz-footer-bottom-color: #000;
	--rz-footer-bottom-link-color: #000;
	--rz-footer-bottom-padding-y: 1rem;
	--rz-footer-bottom-padding-x: 0rem;
	--rz-footer-btns-padding-y: .75rem;
	--rz-footer-btns-padding-x: .5rem;
	--rz-logo-width: 120px;
	--rz-logo-margin-top: 0;
	--rz-logo-margin-right: 0;
	--rz-logo-margin-bottom: 0;
	--rz-logo-margin-left: 0;
	--rz-footer-ada-color: rgba(255, 255, 255, 1);
	--rz-footer-ada-bg: rgba(43, 55, 216, 1);
	--rz-footer-ada-icon-color: rgba(255, 255, 255, 1);
	--rz-footer-ada-font-size: 1rem;
	--rz-footer-weather-color: #fff;
	--rz-footer-weather-bg: rgba(255, 255, 255, 0);
	--rz-footer-weather-icon-color: rgba(255, 255, 0, 1);
	--rz-footer-weather-font-size: 1rem;
	--rz-footer-share-color: #000;
	--rz-footer-share-bg: ;
	--rz-footer-share-font-size: 1rem;
	--rz-footer-search-border: 1px solid var(--bs-border-color);
	--rz-footer-search-bg: rgba(255, 255, 255, 1);
	--rz-footer-search-icon-color: rgb(0, 0, 0);
	--rz-footer-search-icon-bg: var(--rz-footer-search-bg);
	--rz-footer-resize-color: #000;
	--rz-footer-resize-btn-bg: rgba(255, 255, 255, 0);
	--rz-footer-resize-btn-color: rgba(0, 0, 0, 1);
	--rz-footer-resize-btn-border-color: rgba(0, 0, 0, 0.3);
	--rz-footer-resize-font-size: 1rem;
	--rz-footer-translate-color: rgba(56, 125, 12, 1);
	--rz-footer-translate-bg: rgba(255, 255, 255, 0);
	--rz-footer-translate-font-size: 1rem;
	--rz-footer-social-icons-border-radius: 100px;
	--rz-footer-social-icons-width: 40px;
	--rz-footer-social-icons-height: 40px;
	--rz-footer-social-icons-font-size: 1rem;
	--rz-footer-address-color: rgba(0, 0, 0, 1);
	--rz-footer-address-bg: rgba(255, 255, 255, 0);
	--rz-footer-address-icon-color: rgba(28, 81, 202, 1);
	--rz-footer-address-font-size: 1rem;
	--rz-footer-vr-align: center;
	--rz-footer-vr-display: inline-block;
	--rz-footer-vr-height: 24px;
	--rz-footer-vr-width: 1px;
	--rz-footer-vr-bg-color: currentcolor;
	--rz-footer-vr-opacity: .25;
	--rz-footer-transition: var(--rz-transitions);
	/* footer options  */
	top: 0;
	z-index: 9;
	transition: var(--rz-footer-transition);
	position: relative
}

.site-footer {
	background: var(--rz-footer-bg-color);
	padding: var(--rz-footer-padding-y) var(--rz-footer-padding-x);
}

.site-footer .container {
	max-width: var(--rz-footer-container-width)
}

.footer-top {
	background: var(--rz-footer-top-bg);
	color: var(--rz-footer-top-color);
	padding: var(--rz-footer-top-padding-y) var(--rz-footer-top-padding-x);
}

.footer-top a {
	color: var(--rz-footer-top-link-color)
}

.footer-middle {
	background: var(--rz-footer-middle-bg);
	color: var(--rz-footer-middle-color);
	padding: var(--rz-footer-middle-padding-y) var(--rz-footer-middle-padding-x);
}

.footer-middle a {
	color: var(--rz-footer-middle-link-color)
}

.footer-bottom {
	background: var(--rz-footer-bottom-bg);
	color: var(--rz-footer-bottom-color);
	padding: var(--rz-footer-bottom-padding-y) var(--rz-footer-bottom-padding-x);
}

.footer-bottom a {
	color: var(--rz-footer-bottom-link-color)
}

.footer-logo-section img {
	width: var(--rz-logo-width);
	height: auto;
	margin-top: var(--rz-logo-margin-top);
	margin-right: var(--rz-logo-margin-top);
	margin-bottom: var(--rz-logo-margin-top);
	margin-left: var(--rz-logo-margin-top);
}

.footer-area-1>[class*=footer-]:first-of-type .btn {
	padding-left: 0 !important
}

.site-footer .vr {
	align-self: var(--rz-footer-vr-align);
	width: var(--rz-footer-vr-width);
	height: var(--rz-footer-vr-height);
	background-color: var(--rz-footer-vr-bg-color);
	opacity: var(--rz-footer-vr-opacity);
	display: var(--rz-footer-vr-display);
	min-height: 0;
}

.footer-area-1 .vr-s {
	display: none;
}

.footer-area-2 .vr-s {
	display: none;
}

.footer-area-3>[class*=footer-]:last-of-type .btn:not(.footer-nav-links-wrap .btn) {
	padding-right: 0 !important;
}

.footer-area-3 .vr-e {
	display: none;
}

.footer-middle .vr {
	display: none
}

.footer-area-8>[class*=footer-]:first-of-type .btn {
	padding-left: 0 !important
}

.footer-area-8 .vr-s {
	display: none;
}

.footer-area-9>[class*=footer-]:first-of-type .btn {
	padding-left: 0 !important
}

.footer-area-9 .vr-s {
	display: none;
}

.footer-area-10>[class*=footer-]:last-of-type .btn {
	padding-right: 0 !important
}

.footer-area-10 .vr-e {
	display: none;
}

.footer-social-icons {
	gap: .5rem !important;
}

.footer-social-icons-wrap .btn.btn-link {
	width: var(--rz-footer-social-icons-width);
	height: var(--rz-footer-social-icons-height);
	border-radius: var(--rz-footer-social-icons-border-radius);
	font-size: var(--rz-footer-social-icons-font-size);
	padding: 0 !important;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.footer-social-icons-wrap a.btn-facebook {
	background: #0E70F1;
	color: #fff;
	border-color: #0E70F1;
}

.footer-social-icons-wrap a.btn-instagram {
	background: #C13584;
	color: #fff;
	border-color: #C13584
}

.footer-social-icons-wrap a.btn-twitter {
	background: #000;
	color: #fff;
	border-color: #000
}

.footer-social-icons-wrap a.btn-linkedin {
	background: #0077B5;
	color: #fff;
	border-color: #0077B5
}

.footer-social-icons-wrap a.btn-youtube {
	background: #b2071d;
	color: #fff;
	border-color: #b2071d
}

.footer-social-icons-wrap a.btn-tiktok {
	background: #000;
	color: #fff;
	border-color: #000
}

.footer-social-icons-wrap .btn:hover,
.footer-social-icons-wrap .btn:active,
.footer-social-icons-wrap .btn:focus {
	color: #fff;
	background: var(--bs-primary);
	border-color: var(--bs-primary)
}

.footer-social-icons-wrap .btn:focus-visible {
	box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.5);
}

.footer-middle .footer-element {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.footer-middle .col-lg .footer-element:last-child {
	/* 	margin-bottom:0;
	background:red */
}

.footer-ada-btn .btn,
.footer-ada-btn .btn:hover,
.footer-ada-btn .btn:focus,
.footer-ada-btn .btn:active {
	color: var(--rz-footer-ada-color);
	background: var(--rz-footer-ada-bg);
	font-size: var(--rz-footer-ada-font-size);
	text-decoration: none
}

.footer-ada-btn i {
	color: var(--rz-footer-ada-icon-color)
}

.footer-weather {
	color: var(--rz-footer-weather-color);
	background: var(--rz-footer-weather-bg);
	font-size: var(--rz-footer-weather-font-size)
}

.footer-weather i {
	color: var(--rz-footer-weather-icon-color)
}

.footer-share-btn .btn {
	background: var(--rz-footer-share-bg);
	font-size: var(--rz-footer-share-font-size);
}

.footer-share-btn i {
	color: var(--rz-footer-share-color);
}

.footer-search-section .form-control {
	background: var(--rz-footer-search-bg);
	border: var(--rz-footer-search-border)
}

.footer-search-section .btn-link {
	color: var(--rz-footer-search-icon-color);
	background-color: var(--rz-footer-search-icon-bg)
}

.site-footer-wrap .translate-button,
.site-footer-wrap .translate-button:hover,
.site-footer-wrap .translate-button:active,
.site-footer-wrap .translate-button:focus {
	color: var(--rz-footer-translate-color);
	background: var(--rz-footer-translate-bg);
	font-size: var(--rz-footer-translate-font-size);
	text-decoration: none
}

.footer-address .btn {
	color: var(--rz-footer-address-color);
	background: var(--rz-footer-address-bg);
	font-size: var(--rz-footer-address-font-size);
}

.footer-address i {
	color: var(--rz-footer-address-icon-color)
}