.site-header-wrap {
	/* header options  */
	--rz-header-bg-color: ;
	--rz-header-container-width: 100%;
	--rz-header-padding-y: 0;
	--rz-header-padding-x: 0;
	/* options absolute/relative/ only no fixed */
	--rz-header-position: relative;
	--rz-header-top-background: #eee;
	--rz-header-top-color: #000;
	--rz-header-top-link-color: #000;
	--rz-header-top-padding-y: .5rem;
	--rz-header-top-padding-x: 0rem;
	--rz-header-middle-background: #fff;
	--rz-header-middle-color: #000;
	--rz-header-middle-link-color: #000;
	--rz-header-middle-padding-y: .5rem;
	--rz-header-middle-padding-x: 0rem;
	--rz-header-bottom-background: #000;
	--rz-header-bottom-color: #fff;
	--rz-header-bottom-link-color: #fff;
	--rz-header-bottom-padding-y: .5rem;
	--rz-header-bottom-padding-x: 0rem;
	--rz-header-btns-padding-y: .5rem;
	--rz-header-btns-padding-x: .4rem;
	--rz-logo-color: #000;
	--rz-logo-width: 100px;
	--rz-logo-margin-top: 0;
	--rz-logo-margin-right: 0;
	--rz-logo-margin-bottom: 0;
	--rz-logo-margin-left: 0;
	--rz-logo-font-size: 32px;
	--rz-logo-tagline-font-size: 16px;
	--rz-logo-letter-spacing: -1px;
	--rz-logo-tagline-letter-spacing: 3px;
	--rz-logo-font-weight: bold;
	--rz-logo-tagline-font-weight: bold;
	--rz-logo-tagline-color: rgba(204, 17, 17, 1);
	--rz-nav-bg-color: ;
	--rz-nav-border-color: ;
	--rz-nav-border-top-width: 0px;
	--rz-nav-border-right-width: 0px;
	--rz-nav-border-bottom-width: 0px;
	--rz-nav-border-left-width: 0px;
	--rz-nav-padding-top: 0rem;
	--rz-nav-padding-right: 0rem;
	--rz-nav-padding-bottom: 0rem;
	--rz-nav-padding-left: 0rem;
	--rz-nav-margin-top: 0rem;
	--rz-nav-margin-right: 0rem;
	--rz-nav-margin-bottom: 0rem;
	--rz-nav-margin-left: 0rem;
	--rz-nav-link-color: #222;
	--rz-nav-link-hover-color: #fff;
	--rz-nav-link-hover-bg-color: #222;
	--rz-nav-link-padding-x: 1rem;
	--rz-nav-link-padding-y: 1rem;
	--rz-nav-link-border-radius: 0px;
	--rz-nav-item-padding-x: 0rem;
	--rz-nav-item-padding-y: 0rem;
	--rz-nav-icons-color: #222;
	--rz-nav-mega-link-first-child-color: #222;
	--rz-nav-mega-second-child-link-color: #666;
	--rz-nav-mega-column-count: 4;
	--rz-nav-mega-padding-y: 8%;
	--rz-nav-mega-padding-x: 8%;
	--rz-nav-font-size: 1rem;
	--rz-nav-font-weight: bold;
	--rz-nav-dropdown-font-size: .9rem;
	--rz-nav-dropdown-bg-color: rgba(255, 255, 255, 1);
	--rz-nav-dropdown-bg-link-color: #f5f5f5;
	--rz-nav-dropdown-border-radius: 0;
	/* sticky header options */
	--rz-scroll-header-bg-color: var(--rz-header-bg-color);
	--rz-scroll-header-container-width: var(--rz-header-container-width);
	--rz-scroll-header-padding-y: var(--rz-header-padding-y);
	--rz-scroll-header-padding-x: var(--rz-header-padding-x);
	--rz-scroll-logo-color: var(--rz-logo-color);
	--rz-scroll-logo-width: var(--rz-logo-width);
	--rz-scroll-logo-margin-top: var(--rz-logo-margin-top);
	--rz-scroll-logo-margin-right: var(--rz-logo-margin-right);
	--rz-scroll-logo-margin-bottom: var(--rz-logo-margin-bottom);
	--rz-scroll-logo-margin-left: var(--rz-logo-margin-left);
	--rz-scroll-logo-font-size: var(--rz-logo-font-size);
	--rz-scroll-logo-tagline-font-size: var(--rz-logo-tagline-font-size);
	--rz-scroll-logo-letter-spacing: var(--rz-logo-letter-spacing);
	--rz-scroll-logo-tagline-letter-spacing: var(--rz-logo-tagline-letter-spacing);
	--rz-scroll-logo-font-weight: var(--rz-logo-font-weight);
	--rz-scroll-logo-tagline-font-weight: var(--rz-logo-tagline-font-weight);
	--rz-scroll-logo-tagline-color: var(--rz-logo-tagline-color);
	--rz-scroll-header-top-background: var(--rz-header-top-background);
	--rz-scroll-header-top-color: var(--rz-header-top-color);
	--rz-scroll-header-top-link-color: var(--rz-header-top-link-color);
	--rz-scroll-header-top-padding-y: var(--rz-header-top-padding-y);
	--rz-scroll-header-top-padding-x: var(--rz-header-top-padding-x);
	--rz-scroll-header-middle-background: var(--rz-header-middle-background);
	--rz-scroll-header-middle-color: var(--rz-header-middle-color);
	--rz-scroll-header-middle-link-color: var(--rz-header-middle-link-color);
	--rz-scroll-header-middle-padding-y: var(--rz-header-middle-padding-y);
	--rz-scroll-header-middle-padding-x: var(--rz-header-middle-padding-x);
	--rz-scroll-header-bottom-background: var(--rz-header-bottom-background);
	--rz-scroll-header-bottom-color: var(--rz-header-bottom-color);
	--rz-scroll-header-bottom-link-color: var(--rz-header-bottom-link-color);
	--rz-scroll-header-bottom-padding-y: var(--rz-header-bottom-padding-y);
	--rz-scroll-header-bottom-padding-x: var(--rz-header-bottom-padding-x);
	--rz-scroll-nav-bg-color: var(--rz-nav-bg-color);
	--rz-scroll-nav-border-color: var(--rz-nav-border-color);
	--rz-scroll-nav-border-top-width: var(--rz-nav-border-top-width);
	--rz-scroll-nav-border-right-width: var(--rz-nav-border-right-width);
	--rz-scroll-nav-border-bottom-width: var(--rz-nav-border-bottom-width);
	--rz-scroll-nav-border-left-width: var(--rz-nav-border-left-width);
	--rz-scroll-nav-padding-top: var(--rz-nav-padding-top);
	--rz-scroll-nav-padding-right: var(--rz-nav-padding-right);
	--rz-scroll-nav-padding-bottom: var(--rz-nav-padding-bottom);
	--rz-scroll-nav-padding-left: var(--rz-nav-padding-left);
	--rz-scroll-nav-margin-top: var(--rz-nav-margin-top);
	--rz-scroll-nav-margin-right: var(--rz-nav-margin-right);
	--rz-scroll-nav-margin-bottom: var(--rz-nav-margin-bottom);
	--rz-scroll-nav-margin-left: var(--rz-nav-margin-left);
	--rz-scroll-nav-link-color: var(--rz-nav-link-color);
	--rz-scroll-nav-link-hover-color: var(--rz-nav-link-hover-color);
	--rz-scroll-nav-link-hover-bg-color: var(--rz-nav-link-hover-bg-color);
	--rz-scroll-nav-link-padding-y: var(--rz-nav-link-padding-y);
	--rz-scroll-nav-link-padding-x: var(--rz-nav-link-padding-x);
	--rz-scroll-nav-link-border-radius: var(--rz-nav-link-border-radius);
	--rz-scroll-nav-item-padding-y: var(--rz-nav-item-padding-y);
	--rz-scroll-nav-item-padding-x: var(--rz-nav-item-padding-x);
	--rz-scroll-nav-icons-color: var(--rz-nav-icons-color);
	--rz-scroll-nav-font-size: var(--rz-nav-font-size);
	--rz-scroll-nav-font-weight: var(--rz-nav-font-weight);
	/* end sticky header options */
	--rz-header-ada-color: rgba(255, 255, 255, 1);
	--rz-header-ada-background: rgba(43, 55, 216, 1);
	--rz-header-ada-icon-color: ;
	--rz-header-ada-font-size: ;
	--rz-header-weather-color: ;
	--rz-header-weather-background: ;
	--rz-header-weather-icon-color: ;
	--rz-header-weather-font-size: ;
	--rz-header-share-color: ;
	--rz-header-share-background: ;
	--rz-header-search-icon-color: ;
	--rz-header-search-icon-background: ;
	--rz-header-search-icon-font-size: ;
	--rz-header-search-input-border: none;
	--rz-header-search-input-bg: rgba(255, 255, 255, 1);
	--rz-header-search-input-icon-color: rgb(0, 0, 0);
	--rz-header-search-input-icon-bg: var(--rz-header-search-input-bg);
	--rz-header-share-font-size: ;
	--rz-header-resize-color: #000;
	--rz-header-resize-btn-background: ;
	--rz-header-resize-btn-color: ;
	--rz-header-resize-btn-border-color: ;
	--rz-header-resize-font-size: ;
	--rz-header-translate-color: ;
	--rz-header-translate-background: ;
	--rz-header-translate-font-size: ;
	--rz-header-social-icons-color: #fff;
	--rz-header-social-icons-background: ;
	--rz-header-social-icons-font-size: 1rem;
	--rz-header-address-color: #fff;
	--rz-header-address-background: ;
	--rz-header-address-icon-color: ;
	--rz-header-address-font-size: 1rem;
	--rz-header-all-icons-font-size: 1rem;
	/* mobile header options */
	--rz-header-bg-color-mobile: #fff;
	--rz-scroll-header-bg-color-mobile: green;
	--rz-scroll-header-icons-color-mobile: #fff;
	--rz-header-vr-align: center;
	--rz-header-vr-display: inline-block;
	--rz-header-vr-height: 24px;
	--rz-header-vr-width: 1px;
	--rz-header-vr-bg-color: currentcolor;
	--rz-header-vr-opacity: .25;
	--rz-header-transition: var(--rz-transitions);
	/* header options  */
	top: 0;
	z-index: 19;
	transition: var(--rz-header-transition);
}

@media only screen and (min-width:992px) {
	.site-header-wrap {
		height: ;
	}

	.site-header-wrap.sticky-top {
		z-index: 99
	}

	.site-header-wrap .container-fluid {
		max-width: var(--rz-header-container-width);
	}

	.site-header {
		position: var(--rz-header-position);
		transition: var(--rz-header-transition);
		padding: var(--rz-header-padding-y) var(--rz-header-padding-x);
		background: var(--rz-header-bg-color);
		width: 100%;
		z-index: 99;
		right: 0;
		left: 0;
	}

	.site-header .btn {
		padding: var(--rz-header-btns-padding-y) var(--rz-header-btns-padding-x)
	}

	.site-header .bi,
	.site-header .fa-solid {
		font-size: var(--rz-header-all-icons-font-size);
	}

	.header-social-icons-wrap {
		color: var(--rz-header-social-icons-color);
	}

	.header-social-icons-wrap .btn,
	.header-social-icons-wrap .btn:active {
		color: var(--rz-header-social-icons-color);
		background-color: var(--rz-header-social-icons-background);
		font-size: var(--rz-header-social-icons-font-size);
	}

	.header-share-btn .btn-link,
	.header-share-btn .btn-link:active {
		color: var(--rz-header-share-color);
		background-color: var(--rz-header-share-background);
		font-size: var(--rz-header-share-font-size);
	}

	.btn.translate-button,
	.btn.translate-button.btn:active,
	.btn.translate-button:hover,
	.btn.translate-button:focus {
		color: var(--rz-header-translate-color);
		background-color: var(--rz-header-translate-background);
		font-size: var(--rz-header-translate-font-size);
	}

	.site-header-wrap .translate-button:after {
		display: none
	}

	.header-search-section .form-control {
		background: var(--rz-header-search-input-bg);
		border: var(--rz-header-search-input-border)
	}

	.header-search-section .btn-link {
		color: var(--rz-header-search-input-icon-color);
		background-color: var(--rz-header-search-input-icon-bg)
	}

	.search-toggle,
	.search-toggle.btn:active,
	.search-toggle:hover,
	.search-toggle:focus {
		color: var(--rz-header-search-icon-color);
		background-color: var(--rz-header-search-icon-background);
		font-size: var(--rz-header-search-icon-font-size);
	}

	.header-ada-btn .btn,
	.header-ada-btn .btn:active {
		color: var(--rz-header-ada-color);
		background-color: var(--rz-header-ada-background);
		text-decoration: none;
		font-size: var(--rz-header-ada-font-size);
	}

	.header-ada-btn .btn i {
		color: var(--rz-header-ada-icon-color);
	}

	/* #todo on live server */
	.header-weather-wrap .btn {
		color: var(--rz-header-weather-color);
		background-color: var(--rz-header-weather-background);
		font-size: var(--rz-header-weather-font-size);
	}

	.header-weather-wrap .btn i {
		color: var(--rz-header-weather-icon-color);
	}

	.header-address .btn,
	.header-address .btn:active {
		color: var(--rz-header-address-color);
		background-color: var(--rz-header-address-background);
		font-size: var(--rz-header-address-font-size);
		text-decoration: none;
	}

	.header-address .btn i {
		color: var(--rz-header-address-icon-color);
	}

	.header-font-resizer {
		color: var(--rz-header-resize-color);
		font-size: var(--rz-header-resize-font-size);
	}

	.header-font-resizer .btn,
	.header-font-resizer .btn:active {
		background-color: var(--rz-header-resize-btn-background);
		border-color: var(--rz-header-resize-btn-border-color);
		color: var(--rz-header-resize-btn-color);
		font-size: var(--rz-header-resize-font-size);
	}

	.header-top,
	.header-middle,
	.header-bottom {
		transition: var(--rz-header-transition);
		width: 100%;
	}

	.header-top {
		background-color: var(--rz-header-top-background);
		color: var(--rz-header-top-color);
		padding: var(--rz-header-top-padding-y) var(--rz-header-top-padding-x);
	}

	.header-middle {
		background-color: var(--rz-header-middle-background);
		color: var(--rz-header-middle-color);
		padding: var(--rz-header-middle-padding-y) var(--rz-header-middle-padding-x);
	}

	.header-bottom {
		background-color: var(--rz-header-bottom-background);
		color: var(--rz-header-bottom-color);
		padding: var(--rz-header-bottom-padding-y) var(--rz-header-bottom-padding-x);
	}

	.site-header .vr {
		align-self: var(--rz-header-vr-align);
		width: var(--rz-header-vr-width);
		height: var(--rz-header-vr-height);
		background-color: var(--rz-header-vr-bg-color);
		opacity: var(--rz-header-vr-opacity);
		display: var(--rz-header-vr-display);
		min-height: 0;
	}

	.header-area-1 .header-element:first-of-type .vr-s {
		display: none
	}

	.header-area-1 .header-element:last-of-type .vr-e {
		display: none
	}

	.header-area-2 .header-element:last-of-type .vr-e {
		display: none
	}

	.header-area-3 .header-element:first-of-type .vr-s {
		display: none
	}

	.header-area-3 .header-element:last-of-type .vr-e {
		display: none
	}

	.header-area-4 .header-element:last-of-type .vr-e {
		display: none
	}

	.header-area-5 .header-element:last-of-type .vr-e {
		display: none
	}

	.header-area-6 .header-element:first-of-type .vr-s {
		display: none
	}

	.header-area-6 .header-element:last-of-type .vr-e {
		display: none
	}

	.header-area-7 .header-element:first-of-type .vr-s {
		display: none
	}

	.header-area-7 .header-element:last-of-type .vr-e {
		display: none
	}

	.header-area-8 .header-element:last-of-type .vr-e {
		display: none
	}

	.header-area-9 .header-element:first-of-type .vr-s {
		display: none
	}

	.header-area-9 .header-element:last-of-type .vr-e {
		display: none
	}
}

[data-logo-tagline="false"] p {
	display: none
}

@media only screen and (min-width:992px) {
	[data-center-nav="true"] #offcanvasNav {
		margin-left: auto;
		margin-right: auto
	}

	#nav {
		transition: var(--rz-header-transition);
		background-color: var(--rz-nav-bg-color);
		padding: var(--rz-nav-padding-top) var(--rz-nav-padding-right) var(--rz-nav-padding-bottom) var(--rz-nav-padding-left);
		margin: var(--rz-nav-margin-top) var(--rz-nav-margin-right) var(--rz-nav-margin-bottom) var(--rz-nav-margin-left);
		display: flex;
		border-top: var(--rz-nav-border-top-width) solid var(--rz-nav-border-color);
		border-bottom: var(--rz-nav-border-bottom-width) solid var(--rz-nav-border-color);
		border-right: var(--rz-nav-border-right-width) solid var(--rz-nav-border-color);
		border-left: var(--rz-nav-border-left-width) solid var(--rz-nav-border-color);
	}

	#nav li {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 1.618;
		position: relative;
	}

	#nav>li:after {
		content: "";
		display: none !important;
		align-self: stretch;
		width: var(--bs-border-width);
		min-height: 2em;
		background-color: currentcolor;
		opacity: 0.25;
		position: relative;
		width: 1px;
		left: calc(var(--rz-nav-item-padding-x) - 0.5px);
	}

	#nav>li {
		display: flex;
		align-items: center;
		padding: var(--rz-nav-item-padding-y) var(--rz-nav-item-padding-x);
		transition: var(--rz-header-transition);
	}

	#nav a,
	#nav span {
		text-decoration: none;
		font-size: var(--rz-nav-font-size);
		display: inline-block;
		padding: var(--rz-nav-link-padding-y) var(--rz-nav-link-padding-x);
		transition: var(--rz-header-transition);
	}

	#nav>li>ul.make-mega>li>a,
	#nav>li>ul.make-mega>li>span {
		font-weight: var(--rz-nav-font-weight);
		color: var(--rz-nav-mega-link-first-child-color);
	}

	#nav>li>a,
	#nav>li>span {
		font-weight: var(--rz-nav-font-weight);
		color: var(--rz-nav-link-color);
		text-align: center;
	}

	#nav>li:hover>a,
	#nav>li:hover>span {
		background-color: var(--rz-nav-link-hover-bg-color);
		color: var(--rz-nav-link-hover-color);
	}

	#nav li li a:not(.fa),
	#nav li li span:not(.fa) {
		color: var(--rz-nav-mega-second-child-link-color);
		min-width: 16rem;
	}

	#nav ul {
		padding: 1rem;
		margin: 0 0 .5rem;
		box-shadow: var(--bs-box-shadow);
		border-radius: clamp(0px, var(--rz-nav-dropdown-border-radius), 16px);
		background-color: var(--rz-nav-dropdown-bg-color);
		z-index: 20
	}

	#nav .make-mega ul {
		background-color: none;
	}

	#nav>li>ul {
		position: absolute;
		left: 0;
		top: 100%;
		display: none;
		margin: 8px 0 0 0;
	}

	#nav ul:not(.make-mega) ul {
		left: 100%;
		position: absolute;
		display: none;
		top: -0.5rem;
	}

	#nav ul a:not(.fa),
	#nav ul:not(.make-mega) span {
		padding: .25rem 1rem;
		font-size: var(--rz-nav-dropdown-font-size);
		display: block;
		max-width: 100%;
	}

	#nav>li>a,
	#nav>li>span {
		border-radius: var(--rz-nav-link-border-radius)
	}

	#nav ul a:not(.fa):hover,
	#nav ul span:hover {
		text-decoration: none;
		background: var(--rz-nav-dropdown-bg-link-color)
	}

	#nav .make-mega .toggle2 {
		display: none;
		font-size: 80%
	}

	#nav li a.toggle {
		display: none
	}

	#nav li.focused {
		align-items: stretch
	}

	#nav li.focused a.toggle {
		padding: 0 1rem 0 0;
		margin: 0;
		align-content: center;
		justify-content: center;
		color: var(--rz-nav-link-color);
		font-size: 80%;
		display: block;
	}

	#nav>li.focused>a:not(.fa),
	#nav>li.opened>a:not(.fa) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}

	#nav .fa {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}

	#nav li:hover a.toggle {
		color: var(--rz-nav-link-hover-color);
	}

	#nav:not(.make-mega) .toggle2 {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		padding: 0;
		margin: 0;
		color: var(--rz-nav-link-color);
		font-size: 80%
	}

	#nav .make-mega {
		column-gap: 0;
		column-count: var(--rz-nav-mega-column-count);
		width: 100%;
		box-shadow: var(--bs-box-shadow);
		top: 100% !important;
		display: none;
		padding: var(--rz-nav-mega-padding-y) var(--rz-nav-mega-padding-x)
	}

	#nav ul.make-mega ul {
		padding: 0;
		box-shadow: none
	}

	#nav li ul.make-mega a:not(.fa),
	#nav li ul.make-mega span:not(.fa) {
		min-width: 100%;
		width: 100%
	}

	#nav>li>ul:after {
		content: "";
		position: absolute;
		top: -8px;
		left: 0;
		right: 0;
		height: 8px;
	}

	#nav ul.make-mega>li {
		break-inside: avoid;
	}

	#nav li:hover>ul.make-mega ul {
		position: static;
		padding: 0;
	}

	#nav ul.make-mega a:not(.fa),
	#nav ul.make-mega span:not(.fa) {
		display: inline-block
	}

	#nav .make-mega .focused .toggle2 {
		display: block
	}

	.logo-section {
		margin: var(--rz-logo-margin-top) var(--rz-logo-margin-right) var(--rz-logo-margin-bottom) var(--rz-logo-margin-left)
	}

	.main-logo {
		transition: var(--rz-header-transition);
	}

	.main-logo-text span {
		line-height: 1.2;
		font-size: var(--rz-logo-font-size);
		letter-spacing: var(--rz-logo-letter-spacing);
		font-weight: var(--rz-logo-font-weight);
		color: var(--rz-logo-color);
		transition: var(--rz-header-transition)
	}

	.main-logo-text p {
		font-size: var(--rz-logo-tagline-font-size);
		letter-spacing: var(--rz-logo-tagline-letter-spacing);
		font-weight: var(--rz-logo-tagline-font-weight);
		line-height: 1;
		color: var(--rz-logo-accent-color);
		margin: 4px 0 0;
		transition: var(--rz-header-transition)
	}

	.main-logo-image {
		width: var(--rz-logo-width);
		max-width: 100%;
		transition: var(--rz-header-transition);
		flex-shrink: 0
	}

	/* sticky header styles */
	.site-header-wrap.sticky-top .site-header {
		background: var(--rz-scroll-header-bg-color);
		transition: var(--rz-header-transition);
	}

	.site-header-wrap.sticky-top .header-top {
		background-color: var(--rz-scroll-header-top-background);
		color: var(--rz-scroll-header-top-color);
		padding: var(--rz-scroll-header-top-padding-y) var(--rz-scroll-header-top-padding-x);
		transition: var(--rz-header-transition);
	}

	.site-header-wrap.sticky-top .header-middle {
		background-color: var(--rz-scroll-header-middle-background);
		color: var(--rz-scroll-header-middle-color);
		padding: var(--rz-scroll-header-middle-padding-y) var(--rz-scroll-header-middle-padding-x);
		transition: var(--rz-header-transition);
	}

	.site-header-wrap.sticky-top .header-bottom {
		background-color: var(--rz-scroll-header-bottom-background);
		color: var(--rz-scroll-header-bottom-color);
		padding: var(--rz-scroll-header-bottom-padding-y) var(--rz-scroll-header-bottom-padding-x);
		transition: var(--rz-header-transition);
	}

	.site-header-wrap.sticky-top #nav {
		transition: var(--rz-header-transition);
		background-color: var(--rz-scroll-scroll-nav-bg-color);
		padding: var(--rz-scroll-scroll-nav-padding-top) var(--rz-scroll-scroll-nav-padding-right) var(--rz-scroll-scroll-nav-padding-bottom) var(--rz-scroll-scroll-nav-padding-left);
		margin: var(--rz-scroll-scroll-nav-margin-top) var(--rz-scroll-scroll-nav-margin-right) var(--rz-scroll-scroll-nav-margin-bottom) var(--rz-scroll-scroll-nav-margin-left);
		border-top: var(--rz-scroll-scroll-nav-border-top-width) solid var(--rz-scroll-scroll-nav-border-color);
		border-bottom: var(--rz-scroll-scroll-nav-border-bottom-width) solid var(--rz-scroll-scroll-nav-border-color);
		border-right: var(--rz-scroll-scroll-nav-border-right-width) solid var(--rz-scroll-scroll-nav-border-color);
		border-left: var(--rz-scroll-scroll-nav-border-left-width) solid var(--rz-scroll-scroll-nav-border-color);
	}

	.site-header-wrap.sticky-top #nav>li {
		padding: var(--rz-scroll-nav-item-padding-y) var(--rz-scroll-nav-item-padding-x);
		transition: all .3s
	}

	.site-header-wrap.sticky-top #nav>a,
	.site-header-wrap.sticky-top #nav>span {
		font-size: var(--rz-scroll-nav-font-size);
		font-size: var(--rz-scroll-nav-font-weight);
		padding: var(--rz-scroll-nav-link-padding-y) var(--rz-scroll-nav-link-padding-x);
	}

	.site-header-wrap.sticky-top #nav>li>a,
	.site-header-wrap.sticky-top #nav>li>span {
		font-weight: var(--rz-scroll-nav-font-weight);
		color: var(--rz-scroll-nav-link-color);
		transition: var(--rz-header-transition);
	}

	.site-header-wrap.sticky-top #nav>li:hover>a,
	.site-header-wrap.sticky-top #nav>li:hover>span {
		background-color: var(--rz-scroll-nav-link-hover-bg-color);
		color: var(--rz-scroll-nav-link-hover-color);
	}

	.site-header-wrap.sticky-top #nav li.focused a.toggle {
		color: var(--rz-scroll-nav-link-color);
	}

	.site-header-wrap.sticky-top #nav li:hover a.toggle {
		color: var(--rz-scroll-nav-link-hover-color);
	}

	.site-header-wrap.sticky-top .logo-section {
		margin: var(--rz-scroll-logo-margin-top) var(--rz-scroll-logo-margin-right) var(--rz-scroll-logo-margin-bottom) var(--rz-scroll-logo-margin-left)
	}

	.site-header-wrap.sticky-top .main-logo {
		transition: var(--rz-header-transition);
	}

	.site-header-wrap.sticky-top .main-logo-text span {
		line-height: 1.2;
		font-size: var(--rz-scroll-logo-font-size);
		letter-spacing: var(--rz-scroll-logo-letter-spacing);
		font-weight: var(--rz-scroll-logo-font-weight);
		color: var(--rz-scroll-logo-color);
		transition: all .3s
	}

	.site-header-wrap.sticky-top .main-logo-text p {
		font-size: var(--rz-scroll-logo-tagline-font-size);
		letter-spacing: var(--rz-scroll-logo-tagline-letter-spacing);
		font-weight: var(--rz-scroll-logo-tagline-font-weight);
		line-height: 1;
		color: var(--rz-scroll-logo-accent-color);
		margin: 4px 0 0;
		transition: all .3s
	}

	.site-header-wrap.sticky-top .main-logo-image {
		width: var(--rz-scroll-logo-width);
		max-width: 100%;
		transition: var(--rz-header-transition);
		flex-shrink: 0
	}

	/* sticky header styles */
}

.goog-te-banner-frame {
	display: none
}

#translate-button {
	background: none;
	line-height: 1;
	border: 0;
}

.dropdown-menu {
	border-radius: clamp(0px, var(--bs-border-radius), 16px);
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: var(--bs-primary);
	background-color: var(--bs-gray-200);
}

#translate-button.dropdown-toggle:after {
	display: none
}

#translation-links {
	padding: 1rem 0.5rem;
	background: #fff;
	overflow: auto;
	box-shadow: 0 32px 24px rgba(0, 0, 0, 0.1);
	z-index: 9;
	border: 0;
	column-count: auto;
	column-width: 180px;
	overflow: auto;
	column-gap: 0;
	width: 100vw !important;
	left: 0 !important;
	margin: 0 !important;
}

#translation-links li {
	margin: 0
}

#translate-reset {
	background: none;
	border: none;
	font-size: 1.5rem;
	margin: 0 1rem 0 0;
	color: var(--rz-header-translate-color);
	font-size: var(--rz-header-translate-font-size);
}

.stick-it #translate-reset {
	color: var(--rz-social-scroll-icons-color)
}

[lang="en"] #translate-reset {
	display: none
}

[data-lang="English"] {
	background: var(--bs-light)
}

div.skiptranslate {
	display: none !important
}

@media only screen and (max-width:991.98px) {
	.site-header-wrap {
		background: var(--rz-header-bg-color-mobile);
		padding: .5rem 0
	}

	.site-header-wrap.sticky-top {
		background: var(--rz-scroll-header-bg-color-mobile);
	}

	.site-header-wrap.sticky-top .btn {
		color: var(--rz-scroll-header-icons-color-mobile);
	}

	.offcanvas-lg.offcanvas-bottom {
		height: 80vh;
	}

	.site-header-wrap .container-fluid>.d-flex {
		flex-direction: column;
	}

	.logo-section {
		width: 100%;
		max-width: 100%;
		flex: 1 0 auto;
	}

	.logo-section .responsive-menu,
	.logo-section .main-logo,
	.logo-section .offcanvas-toggles {
		flex: 1;
	}

	.logo-section .offcanvas-toggles {
		justify-content: end
	}

	.main-logo-image img {
		max-height: 2rem;
		margin: auto;
		width: auto;
	}

	.offcanvasHeaderItems-offcanvas-body {
		display: flex;
		flex-direction: column;
	}

	.offcanvasHeaderItems-offcanvas-body .header-element {
		border-bottom: 1px solid var(--bs-gray-300);
		padding: .25rem 0
	}

	.header-element.header-nav-links-wrap {
		padding-bottom: .5rem;
	}

	.header-element.header-nav-links-wrap div {
		flex-wrap: wrap;
	}

	.header-nav-links-wrap .btn {
		justify-content: center;
		width: 100%
	}

	.header-element .btn-link {
		padding: .25rem !important;
		text-decoration: none;
		text-align: left
	}

	.offcanvasHeaderItems-offcanvas-body .vr {
		display: none
	}

	.offcanvasHeaderItems-offcanvas-body .header-social-icons-wrap {
		order: 9;
	}

	.offcanvasHeaderItems-offcanvas-body .header-social-icons-wrap>div {
		flex-wrap: wrap
	}

	.offcanvasHeaderItems-offcanvas-body .header-ada-btn i,
	.offcanvasHeaderItems-offcanvas-body .header-address i,
	.header-social-icons-wrap i {
		font-size: 14px;
		flex: 0 0 auto;
		background: var(--bs-gray-300);
		height: 2rem;
		width: 2rem;
		text-align: center;
		align-content: center;
		border-radius: 100px
	}

	.offcanvasHeaderItems-offcanvas-body .nav-links-wrap {
		order: 2;
	}

	.offcanvasHeaderItems-offcanvas-body .nav-links-wrap>.d-flex {
		justify-content: space-evenly
	}

	.offcanvasHeaderItems-offcanvas-body .social-icons-wrap a {
		flex: 1 1 auto;
		text-align: center;
	}

	#nav>li {
		transition-property: transform, -webkit-transform;
		backface-visibility: hidden;
		transform: translate3d(0, 32px, 0);
		transition-timing-function: ease;
		opacity: 0
	}

	.show #nav>li {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
		transition-duration: .6s;
		transition-delay: opacity 1s
	}

	#nav>li:nth-child(1) {
		transition-duration: .6s
	}

	#nav>li:nth-child(2) {
		transition-duration: .7s
	}

	#nav>li:nth-child(3) {
		transition-duration: .8s
	}

	#nav>li:nth-child(4) {
		transition-duration: .9s
	}

	#nav>li:nth-child(5) {
		transition-duration: 1s
	}

	#nav>li:nth-child(6) {
		transition-duration: 1.1s
	}

	#nav>li:nth-child(7) {
		transition-duration: 1.2s
	}

	#nav>li:nth-child(8) {
		transition-duration: 1.3s
	}

	#nav>li:nth-child(9) {
		transition-duration: 1.4s
	}

	#nav>li:nth-child(10) {
		transition-duration: 1.5s
	}

	#nav i {
		width: 2rem;
		height: 2rem;
		text-align: center;
		background: var(--bs-gray-300);
		line-height: 2rem;
		border-radius: 100px;
		font-size: .8rem;
		color: var(--bs-dark)
	}

	#nav,
	#nav ul {
		margin: 0;
		padding: 0;
	}

	#nav li a,
	#nav li span {
		color: var(--rz-bs-dark);
		font-size: 1rem
	}

	#nav ul {
		display: none
	}

	#nav li {
		width: 100%;
		margin: 0;
		list-style: none;
		position: relative !important;
	}

	#nav li a,
	#nav li span {
		width: 100%;
		border-bottom: 1px solid var(--bs-gray-300);
		display: block;
		padding: 1rem 0px;
		text-decoration: none;
	}

	#nav a.toggle,
	#nav a.toggle2 {
		top: 1rem;
		position: absolute;
		width: 2rem;
		height: 2rem;
		padding: 0;
		font-size: .8rem;
		line-height: 32px;
		text-align: center;
		border-radius: 10rem;
		z-index: 1;
		right: 0;
		border: 0;
	}

	#nav a.toggle2 {
		right: 1rem;
		top: .6rem
	}

	#nav li li a,
	#nav li li span {
		padding: 1rem 2.5rem 1rem 1rem;
		font-size: 14px;
		text-wrap-style: balance;
	}

	#nav ul {
		background: var(--bs-gray-100);
		margin: -1px calc(var(--bs-offcanvas-padding-x)*-1)
	}

	#nav ul ul {
		background: var(--bs-gray-200);
		margin: 0
	}

	.header-area-1 .header-element:first-of-type .vr-s {
		display: none
	}
}

/* always add extra header styles 992px and above mobile version is the same for all site */
@media only screen and (min-width:992px) {}