:root,
[data-bs-theme=light] {
	--bs-blue: #4900FF;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #ff3ebf;
	--bs-red: #e72020;
	--bs-orange: #FFB800;
	--bs-yellow: #FFC700;
	--bs-green: #00AD31;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-gray: #818181;
	--bs-gray-dark: #3c3c3c;
	--bs-gray-100: #f2f2f2;
	--bs-gray-200: #e9e9e9;
	--bs-gray-300: #e8e8e8;
	--bs-gray-400: #d8d8d8;
	--bs-gray-500: #bdbdbd;
	--bs-gray-600: #7d7d7d;
	--bs-gray-700: #565656;
	--bs-gray-800: #3e3e3e;
	--bs-gray-900: #1e1e1e;
	--bs-primary: #4516ff;
	--bs-secondary: #767676;
	--bs-success: #00ad31;
	--bs-info: #76D7FA;
	--bs-warning: #FFC700;
	--bs-danger: #E72020;
	--bs-light: #f3f3f3;
	--bs-dark: #202020;
	--bs-primary-rgb: 85, 28, 228;
	--bs-secondary-rgb: 30, 30, 30;
	--bs-success-rgb: 0, 91, 54;
	--bs-info-rgb: 118, 215, 250;
	--bs-warning-rgb: 255, 214, 0;
	--bs-danger-rgb: 231, 32, 32;
	--bs-light-rgb: 243, 243, 243;
	--bs-dark-rgb: 32, 32, 32;
	--bs-primary-text-emphasis: #241056;
	--bs-secondary-text-emphasis: #2c2c2c;
	--bs-success-text-emphasis: #0a3817;
	--bs-info-text-emphasis: #04445b;
	--bs-warning-text-emphasis: #5e4a02;
	--bs-danger-text-emphasis: #521313;
	--bs-light-text-emphasis: #585858;
	--bs-dark-text-emphasis: #525252;
	--bs-primary-bg-subtle: #cfe2ff;
	--bs-secondary-bg-subtle: #e4e4e4;
	--bs-success-bg-subtle: #cbecd4;
	--bs-info-bg-subtle: #e4f7fe;
	--bs-warning-bg-subtle: #fff4cc;
	--bs-danger-bg-subtle: #fad2d2;
	--bs-light-bg-subtle: #f8f8f8;
	--bs-dark-bg-subtle: #d7d7d7;
	--bs-primary-border-subtle: #9ec5fe;
	--bs-secondary-border-subtle: #c4c8cb;
	--bs-success-border-subtle: #a3cfbb;
	--bs-info-border-subtle: #9eeaf9;
	--bs-warning-border-subtle: #ffe69c;
	--bs-danger-border-subtle: #f1aeb5;
	--bs-light-border-subtle: #e9ecef;
	--bs-dark-border-subtle: #adb5bd;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #252525;
	--bs-body-color-rgb: 33, 37, 41;
	--bs-body-bg: #fff;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-emphasis-color: #000;
	--bs-emphasis-color-rgb: 0, 0, 0;
	--bs-secondary-color: rgba(33, 37, 41, 0.75);
	--bs-secondary-color-rgb: 33, 37, 41;
	--bs-secondary-bg: #e7e6ec;
	--bs-secondary-bg-rgb: 231, 230, 236;
	--bs-tertiary-color: rgba(33, 37, 41, 0.5);
	--bs-tertiary-color-rgb: 33, 37, 41;
	--bs-tertiary-bg: #f8f9fa;
	--bs-tertiary-bg-rgb: 248, 249, 250;
	--bs-heading-color: inherit;
	--bs-link-color: #4516ff;
	--bs-link-color-rgb: 69, 22, 255;
	--bs-link-decoration: underline;
	--bs-link-hover-color: #3b10e4;
	--bs-link-hover-color-rgb: 59, 16, 228;
	--bs-code-color: #d63384;
	--bs-highlight-color: #252525;
	--bs-highlight-bg: #fff3cd;
	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: #e3e3e3;
	--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	--bs-border-radius: 8px;
	--bs-border-radius-sm: 6px;
	--bs-border-radius-lg: 12px;
	--bs-border-radius-xl: 16rem;
	--bs-border-radius-xxl: 24rem;
	--bs-border-radius-2xl: var(--bs-border-radius-xxl);
	--bs-border-radius-pill: 50rem;
	--bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
	--bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	--bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	--bs-focus-ring-width: 0.25rem;
	--bs-focus-ring-opacity: 0.25;
	--bs-focus-ring-color: rgba(69, 22, 255, 0.25);
	--bs-form-valid-color: #198754;
	--bs-form-valid-border-color: #198754;
	--bs-form-invalid-color: #dc3545;
	--bs-form-invalid-border-color: #dc3545;
	/* #added by samir */
	--bs-headers-font-family: var(--bs-font-sans-serif);
	--bs-headers-font-weight: 800;
	--rz-transitions: all .3s cubic-bezier(0.77, 0, 0.175, 1);
	--rz-modal-border-radius: 16px;
}

h1,
.h1 {
	font-size: calc(1.375rem + 1.5vw);
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

@media (min-width: 1200px) {

	h1,
	.h1 {
		font-size: 2.5rem;
	}
}

h2,
.h2 {
	font-size: calc(1.325rem + 0.9vw);
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

@media (min-width: 1200px) {

	h2,
	.h2 {
		font-size: 2rem;
		font-family: var(--bs-headers-font-family);
		font-weight: var(--bs-headers-font-weight);
	}
}

h3,
.h3 {
	font-size: calc(1.3rem + 0.6vw);
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

@media (min-width: 1200px) {

	h3,
	.h3 {
		font-size: 1.75rem;
	}
}

h4,
.h4 {
	font-size: calc(1.275rem + 0.3vw);
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

@media (min-width: 1200px) {

	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

h5,
.h5 {
	font-size: 1.25rem;
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

h6,
.h6 {
	font-size: 1rem;
	font-family: var(--bs-headers-font-family);
	font-weight: var(--bs-headers-font-weight);
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.btn {
	--bs-btn-padding-x: 1.25rem;
	--bs-btn-padding-y: .65rem;
	--bs-btn-font-family: ;
	--bs-btn-font-size: 1rem;
	--bs-btn-font-weight: 400;
	--bs-btn-line-height: 1.5;
	--bs-btn-color: var(--bs-body-color);
	--bs-btn-bg: transparent;
	--bs-btn-border-width: var(--bs-border-width);
	--bs-btn-border-color: transparent;
	--bs-btn-border-radius: var(--bs-border-radius);
	--bs-btn-hover-border-color: transparent;
	--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	--bs-btn-disabled-opacity: 0.65;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #4516ff;
	--bs-btn-border-color: #3b10e4;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #3b10e4;
	--bs-btn-hover-border-color: #330dc7;
	--bs-btn-focus-shadow-rgb: 69, 22, 255;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #330dc7;
	--bs-btn-active-border-color: #2b09b1;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #5329f8;
	--bs-btn-disabled-border-color: #4516ff;
}

.btn-secondary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #6c757d;
	--bs-btn-border-color: #6c757d;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #5c636a;
	--bs-btn-hover-border-color: #565e64;
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #565e64;
	--bs-btn-active-border-color: #51585e;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #6c757d;
	--bs-btn-disabled-border-color: #6c757d;
}

.btn-success {
	--bs-btn-color: #fff;
	--bs-btn-bg: #198754;
	--bs-btn-border-color: #198754;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #157347;
	--bs-btn-hover-border-color: #146c43;
	--bs-btn-focus-shadow-rgb: 60, 153, 110;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #146c43;
	--bs-btn-active-border-color: #13653f;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #198754;
	--bs-btn-disabled-border-color: #198754;
}

.btn-info {
	--bs-btn-color: #000;
	--bs-btn-bg: #0dcaf0;
	--bs-btn-border-color: #0dcaf0;
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: #31d2f2;
	--bs-btn-hover-border-color: #25cff2;
	--bs-btn-focus-shadow-rgb: 11, 172, 204;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #3dd5f3;
	--bs-btn-active-border-color: #25cff2;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #000;
	--bs-btn-disabled-bg: #0dcaf0;
	--bs-btn-disabled-border-color: #0dcaf0;
}

.btn-warning {
	--bs-btn-color: #000;
	--bs-btn-bg: #ffc107;
	--bs-btn-border-color: #ffc107;
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: #ffca2c;
	--bs-btn-hover-border-color: #ffc720;
	--bs-btn-focus-shadow-rgb: 217, 164, 6;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #ffcd39;
	--bs-btn-active-border-color: #ffc720;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #000;
	--bs-btn-disabled-bg: #ffc107;
	--bs-btn-disabled-border-color: #ffc107;
}

.btn-danger {
	--bs-btn-color: #fff;
	--bs-btn-bg: #dc3545;
	--bs-btn-border-color: #dc3545;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #bb2d3b;
	--bs-btn-hover-border-color: #b02a37;
	--bs-btn-focus-shadow-rgb: 225, 83, 97;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #b02a37;
	--bs-btn-active-border-color: #a52834;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #dc3545;
	--bs-btn-disabled-border-color: #dc3545;
}

.btn-light {
	--bs-btn-color: #000;
	--bs-btn-bg: #f2f2f2;
	--bs-btn-border-color: #eaeaea;
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: #eaeaea;
	--bs-btn-hover-border-color: #e4e4e4;
	--bs-btn-focus-shadow-rgb: 228, 228, 228;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #dddddd;
	--bs-btn-active-border-color: #d7d7d7;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #000;
	--bs-btn-disabled-bg: #f2f2f2;
	--bs-btn-disabled-border-color: #eaeaea;
}

.btn-dark {
	--bs-btn-color: #fff;
	--bs-btn-bg: #212529;
	--bs-btn-border-color: #212529;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #424649;
	--bs-btn-hover-border-color: #373b3e;
	--bs-btn-focus-shadow-rgb: 66, 70, 73;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #4d5154;
	--bs-btn-active-border-color: #373b3e;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #212529;
	--bs-btn-disabled-border-color: #212529;
}

.btn-outline-primary {
	--bs-btn-color: #4516ff;
	--bs-btn-border-color: #4516ff;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #4516ff;
	--bs-btn-hover-border-color: #4516ff;
	--bs-btn-focus-shadow-rgb: 69, 22, 255;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #4516ff;
	--bs-btn-active-border-color: #4516ff;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #4516ff;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #4516ff;
	--bs-gradient: none;
}

.btn-outline-secondary {
	--bs-btn-color: #6c757d;
	--bs-btn-border-color: #6c757d;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #6c757d;
	--bs-btn-hover-border-color: #6c757d;
	--bs-btn-focus-shadow-rgb: 108, 117, 125;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #6c757d;
	--bs-btn-active-border-color: #6c757d;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #6c757d;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #6c757d;
	--bs-gradient: none;
}

.btn-outline-success {
	--bs-btn-color: #198754;
	--bs-btn-border-color: #198754;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #198754;
	--bs-btn-hover-border-color: #198754;
	--bs-btn-focus-shadow-rgb: 25, 135, 84;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #198754;
	--bs-btn-active-border-color: #198754;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #198754;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #198754;
	--bs-gradient: none;
}

.btn-outline-info {
	--bs-btn-color: #0dcaf0;
	--bs-btn-border-color: #0dcaf0;
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: #0dcaf0;
	--bs-btn-hover-border-color: #0dcaf0;
	--bs-btn-focus-shadow-rgb: 13, 202, 240;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #0dcaf0;
	--bs-btn-active-border-color: #0dcaf0;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #0dcaf0;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #0dcaf0;
	--bs-gradient: none;
}

.btn-outline-warning {
	--bs-btn-color: #ffc107;
	--bs-btn-border-color: #ffc107;
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: #ffc107;
	--bs-btn-hover-border-color: #ffc107;
	--bs-btn-focus-shadow-rgb: 255, 193, 7;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #ffc107;
	--bs-btn-active-border-color: #ffc107;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #ffc107;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #ffc107;
	--bs-gradient: none;
}

.btn-outline-danger {
	--bs-btn-color: #CC2435;
	--bs-btn-border-color: #CC2435;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #CC2435;
	--bs-btn-hover-border-color: #CC2435;
	--bs-btn-focus-shadow-rgb: 220, 53, 69;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #CC2435;
	--bs-btn-active-border-color: #CC2435;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #CC2435;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #CC2435;
	--bs-gradient: none;
}

.btn-outline-light {
	--bs-btn-color: #000;
	--bs-btn-border-color: var(--bs-gray-300);
	--bs-btn-hover-color: var(--bs-dark);
	--bs-btn-hover-bg: var(--bs-gray-100);
	--bs-btn-hover-border-color: var(--bs-gray-400);
	--bs-btn-focus-shadow-rgb: 248, 249, 250;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: var(--bs-gray-300);
	--bs-btn-active-border-color: var(--bs-gray-400);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--bs-gray-200);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--bs-gray-100);
	--bs-gradient: none;
}

.btn-outline-dark {
	--bs-btn-color: #212529;
	--bs-btn-border-color: #212529;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #212529;
	--bs-btn-hover-border-color: #212529;
	--bs-btn-focus-shadow-rgb: 33, 37, 41;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #212529;
	--bs-btn-active-border-color: #212529;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #212529;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #212529;
	--bs-gradient: none;
}

.btn-link {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-link-color);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;
	--bs-btn-hover-color: var(--bs-link-hover-color);
	--bs-btn-hover-border-color: transparent;
	--bs-btn-active-color: var(--bs-link-hover-color);
	--bs-btn-active-border-color: transparent;
	--bs-btn-disabled-color: #6c757d;
	--bs-btn-disabled-border-color: transparent;
	--bs-btn-box-shadow: 0 0 0 #000;
	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
	text-decoration: underline;
}

.btn-lg,
.btn-group-lg>.btn {
	--bs-btn-padding-y: 1rem;
	--bs-btn-padding-x: 1.25rem;
	--bs-btn-font-size: 1.2rem;
	--bs-btn-border-radius: var(--bs-border-radius-lg);
}

.btn-sm,
.btn-group-sm>.btn {
	--bs-btn-padding-y: 4px;
	--bs-btn-padding-x: 8px;
	--bs-btn-font-size: .85rem;
	--bs-btn-border-radius: var(--bs-border-radius-sm);
}

.btn-custom {
	--bs-btn-padding-x: 1.25rem;
	--bs-btn-padding-y: .6rem;
	--bs-btn-font-family: georgia;
	--bs-btn-font-size: 1.2rem;
	--bs-btn-font-weight: normal;
	--bs-btn-line-height: 1.5;
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--bs-primary-text-emphasis);
	--bs-btn-border-width: var(--bs-border-width);
	--bs-btn-border-color: transparent;
	--bs-btn-border-radius: 100px;
	--bs-btn-hover-border-color: transparent;
	--bs-btn-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.9);
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #212529;
	--bs-btn-focus-shadow-rgb: 33, 37, 41;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #212529;
	--bs-btn-active-border-color: #212529;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #212529;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #212529;
	box-shadow: var(--bs-btn-box-shadow);
}

/* freeform */
#freeform {
	--rz-freeform-content-padding: 0;
	--rz-freeform-content-bg: #fff;
	--rz-left-col-width: 330px;
	--rz-left-col-padding: 2rem 0 2rem 1rem;
	--rz-left-col-margin: 0;
	--rz-left-col-bg: red;
	--rz-freeform-left-col-fill-bg: red;
	--rz-right-col-width: 1200px;
	--rz-freeform-right-col-fill-bg: #fff;
	--rz-freeform-post-padding: 3rem 5rem;
	--rz-freeform-post-bg: #fff;
}

.rz-freeform-slider.rz-slider {
	--rz-slider-height: 400px;
	--rz-slider-caption-color: #fff;
}

@media only screen and (min-width:992px) {
	#submenu {
		--rz-submenu-padding: 0;
		--rz-submenu-margin: 0;
		--rz-submenu-bg: ;
		--rz-submenu-border: ;
		--rz-submenu-color: ;
		--rz-submenu-border-radius: 0;
		--rz-submenu-font-size: ;
		--rz-submenu-item-padding: .65rem 3rem .5rem 0;
		--rz-submenu-item-color: #000;
		--rz-submenu-item-bg: ;
		--rz-submenu-item-border: 1px solid rgba(0, 0, 0, .2);
		border-radius: var(--rz-submenu-border-radius);
		padding: var(--rz-submenu-padding);
		font-size: var(--rz-submenu-font-size);
		border: var(--rz-submenu-border);
		background: var(--rz-submenu-bg);
		margin: 0;
		list-style: none;
		overflow: hidden;
	}

	.submenu-header {
		--rz-submenu-title-wrap-padding: 0;
		--rz-submenu-title-border-radius: ;
		--rz-submenu-title-padding: 1rem 1rem 1rem 0;
		--rz-submenu-title-bg: ;
		--rz-submenu-title-font-size: 24px;
		--rz-submenu-title-font-color: ;
	}

	[data-style="horizontal"] #submenu {
		--rz-submenu-padding: 0;
		--rz-submenu-margin: 0;
		--rz-submenu-bg: #fff;
		--rz-submenu-border: ;
		--rz-submenu-color: ;
		--rz-submenu-border-radius: 0;
		--rz-submenu-font-size: ;
		--rz-submenu-item-padding: 1rem 2rem;
		--rz-submenu-item-color: var(--bs-body-color);
		--rz-submenu-item-bg: ;
		--rz-submenu-item-border: 1px solid rgba(0, 0, 0, .2);
	}
}

.col-side .rz-staff-member-card {
	--rz-staff-member-card-padding: 0 1rem 0 0;
	--rz-staff-member-card-inner-padding-y: 0 0 1rem;
	--rz-staff-member-card-inner-padding-x: 0;
	--rz-staff-member-card-content-padding-x: 1rem;
	--rz-staff-member-card-margin: 0;
	--rz-staff-member-card-bg-color: ;
	--rz-staff-member-card-border: ;
	--rz-staff-member-avatar-width: 100%;
	--rz-staff-member-avatar-border-radius: 0;
	--rz-staff-member-avatar-bg: #eee;
	--rz-staff-member-border-radius: ;
	--rz-staff-member-box-shadow: ;
	--rz-staff-member-header-font-size: ;
	--rz-staff-member-header-padding: 1rem 0;
	--rz-staff-member-header-bg: ;
	--rz-staff-member-header-color: ;
	--rz-staff-member-header-font-weight: bold;
	border-radius: 8px
}

.rz-freeform-slider .breadcrumb {
	--bs-breadcrumb-padding-x: 0;
	--bs-breadcrumb-padding-y: 0;
	--bs-breadcrumb-margin-bottom: 1rem;
	--bs-breadcrumb-bg: ;
	--bs-breadcrumb-border-radius: ;
	--bs-breadcrumb-divider-color: #fff;
	--bs-breadcrumb-item-padding-x: 0.5rem;
	--bs-breadcrumb-item-active-color: #fff;
	--bs-breadcrumb-link-color: #fff;
	--bs-breadcrumb-divider: '›';
	--bs-breadcrumb-item-active-color: #fff;
}

/* header */
.site-header-wrap {
	/* header options  */
	--rz-header-bg-color: ;
	--rz-header-container-width: 100%;
	--rz-header-padding-y: 0;
	--rz-header-padding-x: 0;
	/* options absolute/relative/ only NO fixed */
	--rz-header-position: absolute;
	--rz-header-top-background: #eee;
	--rz-header-top-color: #000;
	--rz-header-top-link-color: #000;
	--rz-header-top-padding-y: .5rem;
	--rz-header-top-padding-x: 0rem;
	--rz-header-middle-background: #fff;
	--rz-header-middle-color: #000;
	--rz-header-middle-link-color: #000;
	--rz-header-middle-padding-y: .5rem;
	--rz-header-middle-padding-x: 0rem;
	--rz-header-bottom-background: transparent;
	--rz-header-bottom-color: #fff;
	--rz-header-bottom-link-color: #fff;
	--rz-header-bottom-padding-y: 0;
	--rz-header-bottom-padding-x: 0;
	--rz-header-btns-padding-y: .5rem;
	--rz-header-btns-padding-x: .4rem;
	--rz-logo-color: #000;
	--rz-logo-width: 100px;
	--rz-logo-margin-top: 0;
	--rz-logo-margin-right: 0;
	--rz-logo-margin-bottom: 0;
	--rz-logo-margin-left: 0;
	--rz-logo-font-size: 32px;
	--rz-logo-tagline-font-size: 16px;
	--rz-logo-letter-spacing: -1px;
	--rz-logo-tagline-letter-spacing: 3px;
	--rz-logo-font-weight: bold;
	--rz-logo-tagline-font-weight: bold;
	--rz-logo-tagline-color: rgba(204, 17, 17, 1);
	--rz-nav-bg-color: ;
	--rz-nav-border-color: ;
	--rz-nav-border-top-width: 0px;
	--rz-nav-border-right-width: 0px;
	--rz-nav-border-bottom-width: 0px;
	--rz-nav-border-left-width: 0px;
	--rz-nav-padding-top: 0rem;
	--rz-nav-padding-right: 0rem;
	--rz-nav-padding-bottom: 0rem;
	--rz-nav-padding-left: 0rem;
	--rz-nav-margin-top: 0rem;
	--rz-nav-margin-right: 0rem;
	--rz-nav-margin-bottom: 0rem;
	--rz-nav-margin-left: 0rem;
	--rz-nav-link-color: #222;
	--rz-nav-link-hover-color: #fff;
	--rz-nav-link-hover-bg-color: #222;
	--rz-nav-link-padding-x: 1rem;
	--rz-nav-link-padding-y: 1rem;
	--rz-nav-link-border-radius: 0px;
	--rz-nav-item-padding-x: 0rem;
	--rz-nav-item-padding-y: 0rem;
	--rz-nav-icons-color: #222;
	--rz-nav-mega-link-first-child-color: #222;
	--rz-nav-mega-second-child-link-color: #666;
	--rz-nav-mega-column-count: 4;
	--rz-nav-mega-padding-y: 8%;
	--rz-nav-mega-padding-x: 8%;
	--rz-nav-font-size: 1rem;
	--rz-nav-font-weight: bold;
	--rz-nav-dropdown-font-size: .9rem;
	--rz-nav-dropdown-bg-color: rgba(255, 255, 255, 1);
	--rz-nav-dropdown-bg-link-color: #f5f5f5;
	--rz-nav-dropdown-border-radius: 0;
	/* sticky header options */
	--rz-scroll-header-bg-color: var(--rz-header-bg-color);
	--rz-scroll-header-container-width: var(--rz-header-container-width);
	--rz-scroll-header-padding-y: var(--rz-header-padding-y);
	--rz-scroll-header-padding-x: var(--rz-header-padding-x);
	--rz-scroll-logo-color: var(--rz-logo-color);
	--rz-scroll-logo-width: var(--rz-logo-width);
	--rz-scroll-logo-margin-top: var(--rz-logo-margin-top);
	--rz-scroll-logo-margin-right: var(--rz-logo-margin-right);
	--rz-scroll-logo-margin-bottom: var(--rz-logo-margin-bottom);
	--rz-scroll-logo-margin-left: var(--rz-logo-margin-left);
	--rz-scroll-logo-font-size: var(--rz-logo-font-size);
	--rz-scroll-logo-tagline-font-size: var(--rz-logo-tagline-font-size);
	--rz-scroll-logo-letter-spacing: var(--rz-logo-letter-spacing);
	--rz-scroll-logo-tagline-letter-spacing: var(--rz-logo-tagline-letter-spacing);
	--rz-scroll-logo-font-weight: var(--rz-logo-font-weight);
	--rz-scroll-logo-tagline-font-weight: var(--rz-logo-tagline-font-weight);
	--rz-scroll-logo-tagline-color: var(--rz-logo-tagline-color);
	--rz-scroll-header-top-background: var(--rz-header-top-background);
	--rz-scroll-header-top-color: var(--rz-header-top-color);
	--rz-scroll-header-top-link-color: var(--rz-header-top-link-color);
	--rz-scroll-header-top-padding-y: var(--rz-header-top-padding-y);
	--rz-scroll-header-top-padding-x: var(--rz-header-top-padding-x);
	--rz-scroll-header-middle-background: var(--rz-header-middle-background);
	--rz-scroll-header-middle-color: var(--rz-header-middle-color);
	--rz-scroll-header-middle-link-color: var(--rz-header-middle-link-color);
	--rz-scroll-header-middle-padding-y: var(--rz-header-middle-padding-y);
	--rz-scroll-header-middle-padding-x: var(--rz-header-middle-padding-x);
	--rz-scroll-header-bottom-background: var(--rz-header-bottom-background);
	--rz-scroll-header-bottom-color: var(--rz-header-bottom-color);
	--rz-scroll-header-bottom-link-color: var(--rz-header-bottom-link-color);
	--rz-scroll-header-bottom-padding-y: var(--rz-header-bottom-padding-y);
	--rz-scroll-header-bottom-padding-x: var(--rz-header-bottom-padding-x);
	--rz-scroll-nav-bg-color: var(--rz-nav-bg-color);
	--rz-scroll-nav-border-color: var(--rz-nav-border-color);
	--rz-scroll-nav-border-top-width: var(--rz-nav-border-top-width);
	--rz-scroll-nav-border-right-width: var(--rz-nav-border-right-width);
	--rz-scroll-nav-border-bottom-width: var(--rz-nav-border-bottom-width);
	--rz-scroll-nav-border-left-width: var(--rz-nav-border-left-width);
	--rz-scroll-nav-padding-top: var(--rz-nav-padding-top);
	--rz-scroll-nav-padding-right: var(--rz-nav-padding-right);
	--rz-scroll-nav-padding-bottom: var(--rz-nav-padding-bottom);
	--rz-scroll-nav-padding-left: var(--rz-nav-padding-left);
	--rz-scroll-nav-margin-top: var(--rz-nav-margin-top);
	--rz-scroll-nav-margin-right: var(--rz-nav-margin-right);
	--rz-scroll-nav-margin-bottom: var(--rz-nav-margin-bottom);
	--rz-scroll-nav-margin-left: var(--rz-nav-margin-left);
	--rz-scroll-nav-link-color: var(--rz-nav-link-color);
	--rz-scroll-nav-link-hover-color: var(--rz-nav-link-hover-color);
	--rz-scroll-nav-link-hover-bg-color: var(--rz-nav-link-hover-bg-color);
	--rz-scroll-nav-link-padding-y: var(--rz-nav-link-padding-y);
	--rz-scroll-nav-link-padding-x: var(--rz-nav-link-padding-x);
	--rz-scroll-nav-link-border-radius: var(--rz-nav-link-border-radius);
	--rz-scroll-nav-item-padding-y: var(--rz-nav-item-padding-y);
	--rz-scroll-nav-item-padding-x: var(--rz-nav-item-padding-x);
	--rz-scroll-nav-icons-color: var(--rz-nav-icons-color);
	--rz-scroll-nav-font-size: var(--rz-nav-font-size);
	--rz-scroll-nav-font-weight: var(--rz-nav-font-weight);
	/* end sticky header options */
	--rz-header-ada-color: rgba(255, 255, 255, 1);
	--rz-header-ada-background: rgba(43, 55, 216, 1);
	--rz-header-ada-icon-color: ;
	--rz-header-ada-font-size: ;
	--rz-header-weather-color: ;
	--rz-header-weather-background: ;
	--rz-header-weather-icon-color: ;
	--rz-header-weather-font-size: ;
	--rz-header-share-color: ;
	--rz-header-share-background: ;
	--rz-header-search-icon-color: ;
	--rz-header-search-icon-background: ;
	--rz-header-search-icon-font-size: ;
	--rz-header-search-input-border: none;
	--rz-header-search-input-bg: rgba(255, 255, 255, 1);
	--rz-header-search-input-icon-color: rgb(0, 0, 0);
	--rz-header-search-input-icon-bg: var(--rz-header-search-input-bg);
	--rz-header-share-font-size: ;
	--rz-header-resize-color: #000;
	--rz-header-resize-btn-background: ;
	--rz-header-resize-btn-color: ;
	--rz-header-resize-btn-border-color: ;
	--rz-header-resize-font-size: ;
	--rz-header-translate-color: ;
	--rz-header-translate-background: ;
	--rz-header-translate-font-size: ;
	--rz-header-social-icons-color: #000;
	--rz-header-social-icons-background: ;
	--rz-header-social-icons-font-size: 1rem;
	--rz-header-address-color: #000;
	--rz-header-address-background: ;
	--rz-header-address-icon-color: ;
	--rz-header-address-font-size: 1rem;
	--rz-header-all-icons-font-size: 1rem;
	/* mobile header options */
	--rz-header-bg-color-mobile: #000;
	--rz-header-icons-color-mobile: #fff;
	--rz-scroll-header-bg-color-mobile: green;
	--rz-scroll-header-icons-color-mobile: #fff;
	--rz-header-vr-align: center;
	--rz-header-vr-display: inline-block;
	--rz-header-vr-height: 24px;
	--rz-header-vr-width: 1px;
	--rz-header-vr-bg-color: currentcolor;
	--rz-header-vr-opacity: .25;
	--rz-header-transition: var(--rz-transitions);
	/* header options  */
	top: 0;
	z-index: 19;
	transition: var(--rz-header-transition);
	height: ;
}

/* always add extra header styles 992px and above mobile version is the same for all site */
@media only screen and (min-width:992px) {}

/* footer */
.site-footer-wrap {
	/* footer options  */
	--rz-footer-bg-color: #fff;
	--rz-footer-container-width: 100%;
	--rz-footer-padding-y: 0;
	--rz-footer-padding-x: 0;
	--rz-footer-top-bg: rgba(255, 255, 255, 1);
	--rz-footer-top-color: #000;
	--rz-footer-top-link-color: rgba(0, 0, 0, 1);
	--rz-footer-top-padding-y: 1rem;
	--rz-footer-top-padding-x: 0rem;
	--rz-footer-middle-bg: rgba(255, 255, 255, 1);
	--rz-footer-middle-color: ;
	--rz-footer-middle-link-color: var(--bs-primary);
	--rz-footer-middle-padding-y: 1rem;
	--rz-footer-middle-padding-x: 0rem;
	--rz-footer-bottom-bg: rgba(255, 255, 255, 0);
	--rz-footer-bottom-color: #000;
	--rz-footer-bottom-link-color: #000;
	--rz-footer-bottom-padding-y: 1rem;
	--rz-footer-bottom-padding-x: 0rem;
	--rz-footer-btns-padding-y: .75rem;
	--rz-footer-btns-padding-x: .5rem;
	--rz-logo-width: 120px;
	--rz-logo-margin-top: 0;
	--rz-logo-margin-right: 0;
	--rz-logo-margin-bottom: 0;
	--rz-logo-margin-left: 0;
	--rz-footer-ada-color: rgba(255, 255, 255, 1);
	--rz-footer-ada-bg: rgba(43, 55, 216, 1);
	--rz-footer-ada-icon-color: rgba(255, 255, 255, 1);
	--rz-footer-ada-font-size: 1rem;
	--rz-footer-weather-color: #fff;
	--rz-footer-weather-bg: rgba(255, 255, 255, 0);
	--rz-footer-weather-icon-color: rgba(255, 255, 0, 1);
	--rz-footer-weather-font-size: 1rem;
	--rz-footer-share-color: #000;
	--rz-footer-share-bg: ;
	--rz-footer-share-font-size: 1rem;
	--rz-footer-search-border: 1px solid var(--bs-border-color);
	--rz-footer-search-bg: rgba(255, 255, 255, 1);
	--rz-footer-search-icon-color: rgb(0, 0, 0);
	--rz-footer-search-icon-bg: var(--rz-footer-search-bg);
	--rz-footer-resize-color: #000;
	--rz-footer-resize-btn-bg: rgba(255, 255, 255, 0);
	--rz-footer-resize-btn-color: rgba(0, 0, 0, 1);
	--rz-footer-resize-btn-border-color: rgba(0, 0, 0, 0.3);
	--rz-footer-resize-font-size: 1rem;
	--rz-footer-translate-color: rgba(56, 125, 12, 1);
	--rz-footer-translate-bg: rgba(255, 255, 255, 0);
	--rz-footer-translate-font-size: 1rem;
	--rz-footer-social-icons-border-radius: 100px;
	--rz-footer-social-icons-width: 40px;
	--rz-footer-social-icons-height: 40px;
	--rz-footer-social-icons-font-size: 1rem;
	--rz-footer-address-color: rgba(0, 0, 0, 1);
	--rz-footer-address-bg: rgba(255, 255, 255, 0);
	--rz-footer-address-icon-color: rgba(28, 81, 202, 1);
	--rz-footer-address-font-size: 1rem;
	--rz-footer-vr-align: center;
	--rz-footer-vr-display: inline-block;
	--rz-footer-vr-height: 24px;
	--rz-footer-vr-width: 1px;
	--rz-footer-vr-bg-color: currentcolor;
	--rz-footer-vr-opacity: .25;
	--rz-footer-transition: var(--rz-transitions);
	/* footer options  */
	top: 0;
	z-index: 9;
	transition: var(--rz-footer-transition);
	position: relative
}

/* hero/sliders */
.hero {
	--hero-height: clamp(100vh, 100vh, 1400px);
	--hero-bg-color: #000;
	--rz-hero-label-font-size: 1rem;
	--rz-hero-label-color: #fff;
	--rz-hero-label-bg: rgba(204, 34, 34, 0.7);
	--rz-hero-label-padding: 0.5rem 1.5rem;
	--rz-hero-label-border-radius: 100px;
	--rz-hero-title-font-size: clamp(2rem, 5vw, 8rem);
	--rz-hero-title-color: #fff;
	--rz-hero-text-color: #fff;
	--rz-hero-text-font-size: clamp(1.2rem, 2vw, 2rem);
	/* 	arrows */
	--rz-carousel-controls-bg: rgba(255, 255, 255, 1);
	--rz-carousel-controls-border-radius: 100px;
	--rz-carousel-controls-height: 64px;
	--rz-carousel-controls-width: 64px;
	--rz-carousel-controls-color: #000;
	--rz-carousel-controls-font-size: 1.5rem;
	--rz-carousel-controls-border: ;
	--rz-carousel-controls-box-shadow: var(--bs-box-shadow);
	/* 	play button */
	--rz-carousel-play-button-bg: #f1f1f1;
	--rz-carousel-play-button-border-radius: var(--rz-carousel-controls-border-radius);
	--rz-carousel-play-button-color: #000;
	--rz-carousel-play-button-font-size: var(--rz-carousel-controls-font-size);
	--rz-carousel-play-button-width: calc(var(--rz-carousel-controls-height) - 4px);
	--rz-carousel-play-button-height: calc(var(--rz-carousel-controls-width) - 4px);
	/* 	dots */
	--rz-carousel-nav-buttons-padding: 0 0;
	--rz-carousel-nav-buttons-border-radius: 0;
	--rz-carousel-nav-buttons-border: ;
	--rz-carousel-nav-button-width: 12px;
	--rz-carousel-nav-button-height: 12px;
	--rz-carousel-nav-button-active-width: 32px;
	--rz-carousel-nav-button-border-radius: 100px;
	--rz-carousel-nav-button-margin: 0 4px;
	--rz-carousel-nav-button-border: ;
	--rz-carousel-nav-button-bg: #999;
	--rz-carousel-nav-button-active-bg: #000;
	/* play and dots container */
	--rz-carousel-nav-controls-bg: #fff;
	--rz-carousel-nav-controls-padding: 4px 4px 4px 16px;
	--rz-carousel-nav-controls-border-radius: 100px;
	--rz-carousel-nav-controls-border: 1px solid #ccc;
	--bs-gutter-x: 1.5rem;
	position: relative;
	background-color: var(--hero-bg-color);
}

.tiny-carousel-wrap {
	/* 	arrows */
	--rz-carousel-controls-bg: rgba(255, 255, 255, 1);
	--rz-carousel-controls-border-radius: 100px;
	--rz-carousel-controls-height: 32px;
	--rz-carousel-controls-width: 32px;
	--rz-carousel-controls-color: var(--bs-dark);
	--rz-carousel-controls-font-size: 1rem;
	--rz-carousel-controls-border: ;
	--rz-carousel-controls-box-shadow: var(--bs-box-shadow);
	/* 	play button */
	--rz-carousel-play-button-bg: #f1f1f1;
	--rz-carousel-play-button-border-radius: var(--rz-carousel-controls-border-radius);
	--rz-carousel-play-button-color: var(--rz-carousel-controls-color);
	--rz-carousel-play-button-font-size: calc(var(--rz-carousel-controls-font-size) * 0.85);
	--rz-carousel-play-button-width: calc(var(--rz-carousel-controls-width) - 4px);
	--rz-carousel-play-button-height: calc(var(--rz-carousel-controls-height) - 4px);
	/* 	dots */
	--rz-carousel-nav-buttons-padding: 0 0;
	--rz-carousel-nav-buttons-border-radius: 0;
	--rz-carousel-nav-buttons-border: ;
	--rz-carousel-nav-button-width: clamp(8px, calc(var(--rz-carousel-controls-width) / 6), 20px);
	--rz-carousel-nav-button-height: clamp(8px, calc(var(--rz-carousel-controls-width) / 6), 20px);
	--rz-carousel-nav-button-active-width: clamp(18px, calc(var(--rz-carousel-controls-width) / 2), 30px);
	--rz-carousel-nav-button-border-radius: 100px;
	--rz-carousel-nav-button-margin: 0 4px;
	--rz-carousel-nav-button-border: ;
	--rz-carousel-nav-button-bg: var(--bs-secondary);
	--rz-carousel-nav-button-active-bg: var(--bs-primary);
	/* play and dots container	 */
	--rz-carousel-nav-controls-bg: #fff;
	--rz-carousel-nav-controls-padding: 4px 4px 4px calc(var(--rz-carousel-controls-height) / 3);
	--rz-carousel-nav-controls-border-radius: 100px;
	--rz-carousel-nav-controls-border: var(--rz-carousel-controls-border);
	--bs-gutter-x: 1.5rem;
	position: relative;
}

/* cards */
.rz-card {
	--rz-card-padding-y: 0;
	--rz-card-padding-x: 0;
	--rz-card-body-padding-y: 6%;
	--rz-card-body-padding-x: 6%;
	--rz-card-header-padding-y: 3%;
	--rz-card-header-padding-x: var(--rz-card-body-padding-x);
	--rz-card-title-margin-y: 0.5rem;
	--rz-card-title-color: #000;
	--rz-card-title-margin: ;
	--rz-card-title-font-size: 1.2rem;
	--rz-card-title-font-weight: bold;
	--rz-card-subtitle-color: ;
	--rz-card-border: 1px solid #e3e3e3;
	--rz-card-border-radius: var(--bs-border-radius);
	--rz-card-box-shadow: var(--bs-box-shadow);
	--rz-card-inner-border-radius: calc(var(--rz-card-border-radius) - (var(--bs-border-width)));
	--rz-card-btn-margin: 0;
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: #fff;
	--rz-card-img-overlay-color: linear-gradient(180deg, rgba(102, 17, 255, 0.5494398442970938) 0%, rgba(102, 17, 255, 1) 100%);
	--rz-card-img-height: 320px;
	--rz-card-date-color: #111;
	--rz-card-date-font-size: .85rem;
	--rz-card-date-bg: #f1f1f1;
	--rz-card-date-padding-y: 6px;
	--rz-card-date-padding-x: 10px;
	--rz-card-date-margin: 0 0 10px 0;
	--rz-card-date-border-radius: var(--bs-border-radius-sm);
	--rz-card-label-color: #111;
	--rz-card-label-font-size: .85rem;
	--rz-card-label-bg: #f1f1f1;
	--rz-card-label-padding-y: 6px;
	--rz-card-label-padding-x: 10px;
	--rz-card-label-margin: 0 0 10px 0;
	--rz-card-label-border-radius: var(--bs-border-radius-sm);
}

.rz-qlink {
	--rz-qlink-padding-y: 0;
	--rz-qlink-padding-x: 0;
	--rz-qlink-body-wrap-padding-y: 2rem;
	--rz-qlink-body-wrap-padding-x: 2rem;
	--rz-qlink-body-padding-y: 0;
	--rz-qlink-body-padding-x: 0;
	--rz-qlink-title-color: #fff;
	--rz-qlink-title-margin: 0 0 1rem;
	--rz-qlink-title-font-size: 1.2rem;
	--rz-qlink-title-font-weight: bold;
	--rz-qlink-text-color: #fff;
	--rz-qlink-text-margin: 0 0 1rem;
	--rz-qlink-text-font-size: 1rem;
	--rz-qlink-text-font-weight: normal;
	--rz-qlink-color: #fff;
	--rz-qlink-bg: #fff;
	--rz-qlink-border: 1px solid #ccc;
	--rz-qlink-border-radius: var(--bs-border-radius);
	--rz-qlink-box-shadow: ;
	--rz-qlink-inner-border-radius: calc(var(--rz-qlink-border-radius) - (var(--bs-border-width)));
	--rz-qlink-btn-margin: auto 0 0 0;
	--rz-qlink-btn-height: 4rem;
	--rz-qlink-btn-padding: 0 1rem;
	--rz-qlink-img-height: 300px;
	--rz-qlink-img-overlay-color: linear-gradient(180deg, rgba(102, 17, 255, 0.5494398442970938) 0%, rgba(102, 17, 255, 1) 100%);
	--rz-qlink-text-align: center;
	--rz-qlink-icon-margin: 0 auto 1rem;
	--rz-qlink-icon-width: 80px;
	--rz-qlink-icon-height: 80px;
	--rz-qlink-icon-bg-color: #f5f5f5;
	--rz-qlink-icon-color: #000;
	--rz-qlink-icon-border: 1px solid #ccc;
	--rz-qlink-icon-border-radius: 100px;
	--rz-qlink-icon-font-size: 2rem;
	--rz-qlink-footer-border: 1px solid #ccc;
	--rz-qlink-footer-padding: .8rem;
	--rz-qlink-footer-bg: #fff;
	--rz-qlink-footer-btn-color: #000;
}

[data-qlink-layout="horizontal"] {
	--rz-qlink-padding-y: 0;
	--rz-qlink-padding-x: 0;
	--rz-qlink-body-wrap-padding-y: 1.5rem;
	--rz-qlink-body-wrap-padding-x: 1.5rem;
	--rz-qlink-body-padding-y: 0;
	--rz-qlink-body-padding-x: 0;
	--rz-qlink-text-align: ;
	--rz-qlink-icon-margin: 0;
	--rz-qlink-icon-width: 64px;
	--rz-qlink-icon-height: 64px;
	--rz-qlink-icon-font-size: 1.8rem;
}

.rz-job-post-card {
	--rz-card-padding-y: 0;
	--rz-card-padding-x: 0;
	--rz-card-body-padding-y: 6%;
	--rz-card-body-padding-x: 6%;
	--rz-card-header-padding-y: 3%;
	--rz-card-header-padding-x: var(--rz-card-body-padding-x);
	--rz-card-title-margin-y: 0.5rem;
	--rz-card-title-color: var(--bs-body-color);
	--rz-card-title-margin: 0;
	--rz-card-title-font-weight: bold;
	--rz-card-border: 1px solid #e3e3e3;
	--rz-card-border-radius: var(--bs-border-radius);
	--rz-card-box-shadow: var(--bs-box-shadow);
	--rz-card-inner-border-radius: calc(var(--rz-card-border-radius) - (var(--bs-border-width)));
	--rz-card-btn-margin: 0;
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: #fff;
}

.rz-agendalist-card {
	--rz-card-padding-y: 2rem;
	--rz-card-padding-x: 2rem;
	--rz-card-border: 1px solid #e3e3e3;
	--rz-card-border-radius: var(--bs-border-radius);
	--rz-card-box-shadow: var(--bs-box-shadow);
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: #fff;
}

.rz-blog-card {
	--rz-card-padding-y: 0;
	--rz-card-padding-x: 0;
	--rz-card-body-padding-y: 6%;
	--rz-card-body-padding-x: 6%;
	--rz-card-header-padding-y: 3%;
	--rz-card-header-padding-x: var(--rz-card-body-padding-x);
	--rz-card-title-margin-y: 0.5rem;
	--rz-card-title-color: #000;
	--rz-card-title-margin: ;
	--rz-card-title-font-size: 1.2rem;
	--rz-card-title-font-weight: bold;
	--rz-card-subtitle-color: ;
	--rz-card-border: 1px solid #e3e3e3;
	--rz-card-border-radius: var(--bs-border-radius);
	--rz-card-box-shadow: var(--bs-box-shadow);
	--rz-card-inner-border-radius: calc(var(--rz-card-border-radius) - (var(--bs-border-width)));
	--rz-card-btn-margin: 0;
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: #fff;
	--rz-card-img-overlay-color: linear-gradient(180deg, rgba(102, 17, 255, 0.5494398442970938) 0%, rgba(102, 17, 255, 1) 100%);
	--rz-card-img-height: 320px;
	--rz-card-date-color: #111;
	--rz-card-date-font-size: .85rem;
	--rz-card-date-bg: #f1f1f1;
	--rz-card-date-padding-y: 6px;
	--rz-card-date-padding-x: 10px;
	--rz-card-date-margin: 0 0 10px 0;
	--rz-card-date-border-radius: var(--bs-border-radius-sm);
	--rz-card-label-color: #111;
	--rz-card-label-font-size: .85rem;
	--rz-card-label-bg: #f1f1f1;
	--rz-card-label-padding-y: 6px;
	--rz-card-label-padding-x: 10px;
	--rz-card-label-margin: 0 0 10px 0;
	--rz-card-label-border-radius: var(--bs-border-radius-sm);
}

[data-card-layout="horizontal-hero"] {
	--rz-card-padding-y: ;
	--rz-card-padding-x: ;
	--rz-card-body-padding-y: ;
	--rz-card-body-padding-x: ;
	--rz-card-header-padding-y: 3%;
	--rz-card-header-padding-x: 6%;
	--rz-card-title-margin-y: 1.5rem;
	--rz-card-title-margin: ;
	--rz-card-title-font-size: clamp(2rem, 3vw, 4rem);
	--rz-card-border: ;
	--rz-card-box-shadow: ;
	--rz-card-btn-margin: 0;
	--rz-card-color: var(--bs-body-color);
	--rz-card-bg: ;
	--rz-card-img-overlay-color: ;
	--rz-card-img-height: ;
	gap: 2rem
}

.rz-staff-member-card {
	--rz-staff-member-card-padding: ;
	--rz-staff-member-card-inner-padding-y: ;
	--rz-staff-member-card-inner-padding-x: 0;
	--rz-staff-member-card-content-padding-x: 1rem;
	--rz-staff-member-card-margin: 0 0 0 0;
	--rz-staff-member-card-bg-color: #fff;
	--rz-staff-member-card-border: ;
	--rz-staff-member-avatar-width: 100%;
	--rz-staff-member-avatar-border-radius: 0;
	--rz-staff-member-avatar-bg: #eee;
	--rz-staff-member-border-radius: ;
	--rz-staff-member-box-shadow: ;
	--rz-staff-member-header-font-size: 1.25rem;
	--rz-staff-member-header-padding: 1rem var(--rz-staff-member-card-inner-padding-x);
	--rz-staff-member-header-bg: #fff;
	--rz-staff-member-header-color: #000;
	--rz-staff-member-header-font-weight: bold;
}

/* #staff directory */
.rz-staff-card {
	--rz-staff-card-padding: 1rem 1.5rem;
	--rz-staff-card-margin: 0 0 0 0;
	--rz-staff-card-bg-color: #fff;
	--rz-staff-card-border: 1px solid #e3e3e3;
	--rz-staff-avatar-width: 64px;
	--rz-staff-avatar-height: 64px;
	--rz-staff-avatar-border-radius: 100px;
	--rz-staff-border-radius: var(--bs-border-radius);
	--rz-staff-box-shadow: var(--bs-box-shadow);
}

.quick-link {
	--rz-ql-title-color: #000;
	--rz-ql-subtitle-color: #000;
	--rz-ql-title-font-size: 18px;
	--rz-ql-subtitle-font-size: 14px;
	--rz-ql-gap: 2rem;
	--rz-ql-align-items: center;
	--rz-ql-justify-content: center;
	--rz-ql-border: 1px solid #ddd;
	--rz-ql-title-line-height: 1.3;
	--rz-ql-subtitle-line-height: ;
	--rz-ql-title-margin: 0 0 10px;
	--rz-ql-subtitle-margin: 0 0 20px;
	--rz-ql-padding: 10%;
	--rz-ql-border-radius: ;
	--rz-ql-bg: #fff;
	--rz-ql-text-align: center;
	--rz-ql-flex-direction: column
}

.quick-link-icon {
	--rz-ql-icon-margin: 0 auto;
	--rz-ql-icon-border: 0px solid #999;
	--rz-ql-icon-border-radius: 100px;
	--rz-ql-icon-width: 80px;
	--rz-ql-icon-height: 80px;
	--rz-ql-icon-font-size: 32px;
	--rz-ql-icon-color: #000;
	--rz-ql-icon-bg-color: #eee;
}

/* alerts */
.alert.alert-top {
	--rz-alert-top-radius: 0px;
	--rz-alert-top-bg-color: #EB0000;
	--rz-alert-top-color: #fff;
	--rz-alert-top-icon-bg: #fff;
	--rz-alert-top-padding-x: 15px;
	--rz-alert-top-padding-y: 8px;
	--rz-alert-top-font-size: .9rem;
}

.floating-alert {
	position: fixed;
	z-index: 100;
	bottom: 1rem;
	margin: 0;
	right: 1rem;
	background: #fff;
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.05);
	padding: 24px;
	width: 610px;
	border-radius: clamp(0px, var(--borderradius), 16px);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: 0
}

.floating-alert .h3 {
	margin: 0 0 0.625rem;
}

/* accordions */
.accordion {
	/* added by samir */
	--bs-accordion-font-size: calc(1rem + 0.2vw);
	--bs-accordion-font-weight: bold;
	/* added by samir */
	--bs-accordion-color: var(--bs-body-color);
	--bs-accordion-bg: var(--bs-body-bg);
	--bs-accordion-transition: var(--rz-transitions);
	--bs-accordion-border-color: var(--bs-border-color);
	--bs-accordion-border-width: var(--bs-border-width);
	--bs-accordion-border-radius: var(--bs-border-radius);
	--bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
	--bs-accordion-btn-padding-x: clamp(1rem, 2%, 2rem);
	--bs-accordion-btn-padding-y: clamp(1rem, 2%, 2rem);
	--bs-accordion-btn-color: var(--bs-body-color);
	--bs-accordion-btn-bg: var(--bs-accordion-bg);
	--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
	--bs-accordion-btn-icon-width: 1.25rem;
	--bs-accordion-btn-icon-transform: rotate(-180deg);
	--bs-accordion-btn-icon-transition: var(--rz-transitions);
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
	--bs-accordion-btn-focus-box-shadow: 0 0 0 0.3rem rgba(var(--bs-primary-rgb), 0.25);
	--bs-accordion-body-padding-x: clamp(1rem, 2%, 2rem);
	--bs-accordion-body-padding-y: clamp(1rem, 2%, 2rem);
	--bs-accordion-active-color: var(--bs-primary);
	--bs-accordion-active-bg: ;
}

.accordion-flush {
	--bs-accordion-btn-padding-x: 0;
	--bs-accordion-body-padding-x: 0;
}

/* icon link */
.rz-icon-link {
	--rz-icon-margin: 0;
	--rz-icon-padding: 2rem;
	--rz-icon-border: 1px solid #ccc;
	--rz-icon-border-radius: 8px;
	--rz-icon-font-size: 1rem;
	--rz-icon-color: #000;
	--rz-icon-bg-color: #f5f5f5;
	--rz-icon-icon-margin: ;
	--rz-icon-icon-width: 80px;
	--rz-icon-icon-height: 80px;
	--rz-icon-icon-font-size: 32px;
	--rz-icon-icon-bg-color: #fff;
	--rz-icon-icon-border: 1px solid #ccc;
	--rz-icon-icon-border-radius: 100px;
}

/* tabs */
.nav-tabs {
	--bs-nav-link-padding-x: 2rem;
	--bs-nav-link-padding-y: 0.8rem;
	--bs-nav-link-font-weight: bold;
	--bs-nav-link-color: var(--bs-link-color);
	--bs-nav-link-hover-color: var(--bs-link-hover-color);
	--bs-nav-link-disabled-color: var(--bs-secondary-color);
	--bs-nav-tabs-border-width: var(--bs-border-width);
	--bs-nav-tabs-border-color: var(--bs-border-color);
	--bs-nav-tabs-border-radius: var(--bs-border-radius);
	--bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
	--bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
	--bs-nav-tabs-link-active-bg: var(--bs-body-bg);
	--bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
}

.nav-pills {
	--bs-nav-link-font-weight: bold;
	--bs-nav-pills-border-radius: var(--bs-border-radius);
	--bs-nav-pills-link-active-color: #fff;
	--bs-nav-pills-link-active-bg: #4516ff;
}

.nav-underline {
	--bs-nav-link-padding-x: 2rem;
	--bs-nav-link-padding-y: 0.8rem;
	--bs-nav-link-font-weight: bold;
	--bs-nav-underline-gap: 1rem;
	--bs-nav-underline-border-width: 0.125rem;
	--bs-nav-underline-link-active-color: var(--bs-emphasis-color);
}

/* section header */
.rz-section-header {
	--rz-section-header-font-size: 1rem;
	--rz-section-header-color: red;
	--rz-section-header-image-height: ;
	--rz-section-header-image-width: ;
	--rz-section-header-image-bg: ;
	--rz-section-header-subtitle-font-size: 1.5rem;
	--rz-section-header-subtitle-line-height: 1;
	--rz-section-header-subtitle-margin: 0 0;
	--rz-section-header-subtitle-padding: 0 0;
	--rz-section-header-subtitle-color: #000;
	--rz-section-header-title-font-size: 4vw;
	--rz-section-header-title-line-height: 1;
	--rz-section-header-title-margin: 10px 0;
	--rz-section-header-title-padding: 10px 0;
	--rz-section-header-title-color: #000;
	--rz-section-header-text-font-size: 2rem;
	--rz-section-header-text-line-height: 1;
	--rz-section-header-text-margin: 0 0 0;
	--rz-section-header-text-padding: 0 0;
	--rz-section-header-text-color: #000;
}